{% extends 'user/basic.html' %} {% load static %} {% block title %} About Us {%endblock title%} {% block css %} {% endblock css %} {% block body %}

<section class="site-hero overlay" style="background-image: url('https://www.teahub.io/photos/full/151-1513340_real-estate-banner-design.jpg');" data-stellar-background-ratio="0.5">

  <div class="container">
  <div class="row site-hero-inner justify-content-center align-items-center">
    <div class="col-md-10 text-center" data-aos="fade-up">

      <div class="text-center">
        <h1 class="heading">About Us</h1>
      </div>

    </div>
  </div>
</div>

</section>



<!-- Welcome section Start -->

<section class="py-5 bg-light text-start mt-5" id="next">
  <div class="container">
    <div class="row align-items-start">
      <div class="col-md-12 col-lg-7 ml-auto order-lg-2 position-relative mb-5" data-aos="fade-up">
        <img src="media/media/1.1.jpg" alt="Image" class="img-fluid rounded">
      </div>
      <div class="col-md-12 col-lg-4 order-lg-1" data-aos="fade-up">
        <h2 class="heading fs-1">Welcome to <span style="display: block;color:#00CE8D">LPC Invest!</span></h2>
        <p class="mb-4" style="font-weight: 700;">Find your next big investment with the team of property pundits of LPC Invest. We specialise in residential sales and brand new property investments. Best-known for our unbeatable client-success record, your property investment vision is supported by the most experienced team in the UK.
          If getting high-yield returns on your holdings sounds like a sweet deal, then join hands with our team. Working with LPC Invest means you get access to the most promising real estate opportunity in the UK backed by award-winning developers. Get started on building an impressive property portfolio with the assistance of seasoned real estate pros of LPC Invest.
          .</p>
        <p><a href="/about" class="btn btn-primary text-white py-2 mr-3 cont-sec" style="border-radius:0;">Learn More</a></p>
      </div>
      
    </div>
  </div>
</section>
<!-- Welcome section End -->

<!-- Promise Area start -->
<div class="row bg-para mx-0 d-flex justify-content-center" style="height:100vh" data-aos="fade-up">
  <div class="col-12 p-3 d-flex align-items-center justify-content-center">
    <div class="text-center w-75 p-5">
      <h2 class="h2 py-3" style="color:#00CE8D;">Our Promise</h2>
      <h2 class="heading text-light fs-1" style="opacity: 0.9;">LPC invest are here to provide you with independent, expert advice.</h2>
      <button class="btn cont-sec w-25" style="border-radius:0"><i class="fa fa-group pe-2"></i> Meet our Team</button>
    </div>
  </div>
</div>
<!-- promise Area end -->

<!-- Services start -->
<div class="services mt-5 bg-light" data-aos="fade-up">
  <div class="container">
      <!-- Main title -->
      <div class="main-title text-center mt-5">
          <h2 class="heading pt-5" style="font-weight: 700;">Services We <span style="color:#00CE8D">Offer</span></h2>
          <p style="font-weight: 700;">Seasoned property experts with over 60 years of knowledge and skills.</p>
      </div>
      <div class="row">
          <div class="col-lg-4 col-md-12">
              <div class="service-info-3 d-flex">
                  <div class="icon">
                      <i class="flaticon-user"></i>
                  </div>
                  <div class="detail align-self-center">
                      <h3>
                          <p style="color:#00CE8D;font-weight: 700;">Highly experienced team</p>
                      </h3>
                      <p style="font-weight: 700;"> Seasoned property experts with over 60 years of knowledge and skills.
                      </p>
                      <a class="read-more" href="/about">Read more...</a>
                      <h4>01</h4>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-md-12">
              <div class="service-info-3 d-flex">
                  <div class="icon">
                      <i class="flaticon-empire-state-building"></i>
                  </div>
                  <div class="detail align-self-center">
                      <h3>
                          <p style="color:#00CE8D;font-weight:700">Bespoke Solutions for Unique Requirements</p>                    
                      </h3>
                      <p style="font-weight: 700;"> A vas Completely personalised services for specific goals.</p>                 
                    
                      <a class="read-more" href="/all-properties">Read more...</a>
                      <h4>02</h4>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-md-12">
              <div class="service-info-3 d-flex">
                  <div class="icon">
                      <i class="flaticon-discount"></i>
                  </div>
                  <div class="detail align-self-center">
                      <h3>
                          <p style="color:#00CE8D;font-weight:700">Premium property listings</p>
                      </h3>
                      <p style="font-weight: 700;"> A vast selection of holdings across the United Kingdom to buy, sell or rent.</p> 
                      <a class="read-more" href="/all-properties">Read more...</a>
                      <h4>03</h4>
                  </div>
                  </div>
              </div>
          </div>
      </div>
</div>
<!-- Services end -->


<!-- Press Article section start -->

<div class="row mt-5" data-aos="fade-up">

  <h2 class="heading text-center py-4" style="color:#00CE8D;"><span style="color:#262525">The</span>Press</h2>

  <div class="slick-slider-area ">
    <div
      class="row slick-carousel px-3"
      data-slick='{"slidesToShow": 3, "responsive":[{"breakpoint": 1024,"settings":{"slidesToShow": 2}}, {"breakpoint": 768,"settings":{"slidesToShow": 1}}]}'>
        <!--Blog Card  Start-->
        <div class="slick-slide-item col-sm-12 mb-5  p-2 ">
          <div class="position-relative tm-card" style="height:550px!important">
            <img src="{% static 'img/background-index/1.jpg' %}"
            class="w-100" style="height:80%;object-fit:cover;">

            <div style="position:absolute;bottom:0;z-index:2" class="p-1 w-100 mx-auto">
              <div class="card text-dark bg-light mb-3">
                <h5 class="pt-3 mb-0 ps-3">Your Guide to Investing in Property That Hasn’t Begun Construction </h5>
                <p class="card-header pb-3"><i class="fa fa-calendar"></i> January 4, 2023</p>
                <div class="card-body">
                  <p>
                    Even though buying off-the-plan properties is becoming more and more common,
                  </p>
                  <button class="btn cont-sec" style="border-radius: 0;">Read more...</button>
                </div>
              </div>
            </div>

          </div>

        </div>
        <!--Blog Card  End-->


        <!--Blog Card  Start-->
        <div class="slick-slide-item col-sm-12 mb-5  p-2">
          <div class="position-relative tm-card" style="height:550px!important">
            <img src="{% static 'img/background-index/1.jpg' %}"
            class="w-100" style="height:80%;object-fit:cover;">

            <div style="position:absolute;bottom:0;z-index:2" class="p-1 w-100 mx-auto">
              <div class="card text-dark bg-light mb-3">
                <h5 class="pt-3 mb-0 ps-3">Your Guide to Investing in Property That Hasn’t Begun Construction </h5>
                <p class="card-header pb-3"><i class="fa fa-calendar"></i> January 4, 2023</p>
                <div class="card-body">
                  <p>
                    Even though buying off-the-plan properties is becoming more and more common,
                  </p>
                  <button class="btn cont-sec" style="border-radius: 0;">Read more...</button>
                </div>
              </div>
            </div>

          </div>

        </div>
        <!--Blog Card  End-->

        <!--Blog Card  Start-->
        <div class="slick-slide-item col-sm-12 mb-5  p-2">
          <div class="position-relative tm-card" style="height:550px!important">
            <img src="{% static 'img/background-index/1.jpg' %}"
            class="w-100" style="height:80%;object-fit:cover;">

            <div style="position:absolute;bottom:0;z-index:2" class="p-1 w-100 mx-auto">
              <div class="card text-dark bg-light mb-3">
                <h5 class="pt-3 mb-0 ps-3">Your Guide to Investing in Property That Hasn’t Begun Construction </h5>
                <p class="card-header pb-3"><i class="fa fa-calendar"></i> January 4, 2023</p>
                <div class="card-body">
                  <p>
                    Even though buying off-the-plan properties is becoming more and more common,
                  </p>
                  <button class="btn cont-sec" style="border-radius: 0;">Read more...</button>
                </div>
              </div>
            </div>

          </div>

        </div>
        <!--Blog Card  End-->

         <!--Blog Card  Start-->
         <div class="slick-slide-item col-sm-12 mb-5  p-2">
          <div class="position-relative tm-card" style="height:550px!important">
            <img src="{% static 'img/background-index/1.jpg' %}"
            class="w-100" style="height:80%;object-fit:cover;">

            <div style="position:absolute;bottom:0;z-index:2" class="p-1 w-100 mx-auto">
              <div class="card text-dark bg-light mb-3">
                <h5 class="pt-3 mb-0 ps-3">Your Guide to Investing in Property That Hasn’t Begun Construction </h5>
                <p class="card-header pb-3"><i class="fa fa-calendar"></i> January 4, 2023</p>
                <div class="card-body">
                  <p>
                    Even though buying off-the-plan properties is becoming more and more common,
                  </p>
                  <button class="btn cont-sec" style="border-radius: 0;">Read more...</button>
                </div>
              </div>
            </div>

          </div>

        </div>
        <!--Blog Card  End-->

        <!--Blog Card  Start-->
        <div class="slick-slide-item col-sm-12 mb-5  p-2">
          <div class="position-relative tm-card" style="height:550px!important">
            <img src="{% static 'img/background-index/1.jpg' %}"
            class="w-100" style="height:80%;object-fit:cover;">

            <div style="position:absolute;bottom:0;z-index:2" class="p-1 w-100 mx-auto">
              <div class="card text-dark bg-light mb-3">
                <h5 class="pt-3 mb-0 ps-3">Your Guide to Investing in Property That Hasn’t Begun Construction </h5>
                <p class="card-header pb-3"><i class="fa fa-calendar"></i> January 4, 2023</p>
                <div class="card-body">
                  <p>
                    Even though buying off-the-plan properties is becoming more and more common,
                  </p>
                  <button class="btn cont-sec" style="border-radius: 0;">Read more...</button>
                </div>
              </div>
            </div>

          </div>

        </div>
        <!--Blog Card  End-->

        <!--Blog Card  Start-->
        <div class="slick-slide-item col-sm-12 mb-5  p-2">
          <div class="position-relative tm-card" style="height:550px!important">
            <img src="{% static 'img/background-index/1.jpg' %}"
            class="w-100" style="height:80%;object-fit:cover;">

            <div style="position:absolute;bottom:0;z-index:2" class="p-1 w-100 mx-auto">
              <div class="card text-dark bg-light mb-3">
                <h5 class="pt-3 mb-0 ps-3">Your Guide to Investing in Property That Hasn’t Begun Construction </h5>
                <p class="card-header pb-3"><i class="fa fa-calendar"></i> January 4, 2023</p>
                <div class="card-body">
                  <p>
                    Even though buying off-the-plan properties is becoming more and more common,
                  </p>
                  <button class="btn cont-sec" style="border-radius: 0;">Read more...</button>
                </div>
              </div>
            </div>

          </div>

        </div>
        <!--Blog Card  End-->



    </div>
    <div class="slick-btn mb-5">
      <div class="slick-prev slick-arrow-buton-2 sab-4">
        <i class="fa fa-angle-left"></i>
      </div>
      <div class="slick-next slick-arrow-buton-2 sab-3">
        <i class="fa fa-angle-right"></i>
      </div>
    </div>
  </div>

</div>
<!-- Press Article secion End -->



<!-- Our team start -->
<!-- <div class="our-team comon-slick content-area">
  <div class="container"> -->
    <!-- Main title -->
    <!-- <div class="main-title">
      <h1>Our Agent</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      </p>
    </div> -->
    <!-- <div
      class="slick row comon-slick-inner"
      data-slick='{"slidesToShow": 4, "responsive":[{"breakpoint": 1024,"settings":{"slidesToShow": 2}}, {"breakpoint": 768,"settings":{"slidesToShow": 1}}]}'
    >
      <div class="item slide-box">
        <div class="team-1">
          <div class="team-thumb">
            <a href="#">
              <img
                src="https://img.freepik.com/free-photo/handsome-corporate-man-real-estate-agent-assistant-smiling-hold-hands-together-how-may-i-help-you-smiling-friendly-polite-assist-customer-white-background_176420-45257.jpg?w=740&t=st=1670398199~exp=1670398799~hmac=df8f74814ca0485a54bb039ef39216c39da06dbbbbc3e277adc2abfe8f2ad9d0"
                alt="agent-2"
                class="img-fluid"
              />
            </a>
            <div class="team-social flex-middle">
              <div class="team-overlay"></div>
              <div class="team-social-inner">
                <a rel="nofollow" href="#" class="facebook">
                  <i class="fa fa-facebook" aria-hidden="true"></i>
                </a>
                <a rel="nofollow" href="#" class="twitter">
                  <i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
                <a rel="nofollow" href="#" class="google">
                  <i class="fa fa-google" aria-hidden="true"></i>
                </a>
                <a rel="nofollow" href="#" class="linkedin">
                  <i class="fa fa-linkedin" aria-hidden="true"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="team-info">
            <h4>
              <a href="#">John Pitarshon</a>
            </h4>
            <p>Creative Director</p>
          </div>
        </div>
      </div>
      <div class="item slide-box">
        <div class="team-1">
          <div class="team-thumb">
            <a href="#">
              <img
                src="https://img.freepik.com/free-photo/handsome-corporate-man-real-estate-agent-assistant-smiling-hold-hands-together-how-may-i-help-you-smiling-friendly-polite-assist-customer-white-background_176420-45257.jpg?w=740&t=st=1670398199~exp=1670398799~hmac=df8f74814ca0485a54bb039ef39216c39da06dbbbbc3e277adc2abfe8f2ad9d0"
                alt="agent-2"
                class="img-fluid"
              />
            </a>
            <div class="team-social flex-middle">
              <div class="team-overlay"></div>
              <div class="team-social-inner">
                <a rel="nofollow" href="#" class="facebook">
                  <i class="fa fa-facebook" aria-hidden="true"></i>
                </a>
                <a rel="nofollow" href="#" class="twitter">
                  <i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
                <a rel="nofollow" href="#" class="google">
                  <i class="fa fa-google" aria-hidden="true"></i>
                </a>
                <a rel="nofollow" href="#" class="linkedin">
                  <i class="fa fa-linkedin" aria-hidden="true"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="team-info">
            <h4>
              <a href="#">Martin Smith</a>
            </h4>
            <p>Web Developer</p>
          </div>
        </div>
      </div>
      <div class="item slide-box">
        <div class="team-1">
          <div class="team-thumb">
            <a href="#">
              <img
                src="https://img.freepik.com/free-photo/handsome-corporate-man-real-estate-agent-assistant-smiling-hold-hands-together-how-may-i-help-you-smiling-friendly-polite-assist-customer-white-background_176420-45257.jpg?w=740&t=st=1670398199~exp=1670398799~hmac=df8f74814ca0485a54bb039ef39216c39da06dbbbbc3e277adc2abfe8f2ad9d0"
                alt="agent-2"
                class="img-fluid"
              />
            </a>
            <div class="team-social flex-middle">
              <div class="team-overlay"></div>
              <div class="team-social-inner">
                <a rel="nofollow" href="#" class="facebook">
                  <i class="fa fa-facebook" aria-hidden="true"></i>
                </a>
                <a rel="nofollow" href="#" class="twitter">
                  <i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
                <a rel="nofollow" href="#" class="google">
                  <i class="fa fa-google" aria-hidden="true"></i>
                </a>
                <a rel="nofollow" href="#" class="linkedin">
                  <i class="fa fa-linkedin" aria-hidden="true"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="team-info">
            <h4>
              <a href="#">Maria Blank</a>
            </h4>
            <p>Office Manager</p>
          </div>
        </div>
      </div>
      <div class="item slide-box">
        <div class="team-1">
          <div class="team-thumb">
            <a href="#">
              <img
                src="https://img.freepik.com/free-photo/handsome-corporate-man-real-estate-agent-assistant-smiling-hold-hands-together-how-may-i-help-you-smiling-friendly-polite-assist-customer-white-background_176420-45257.jpg?w=740&t=st=1670398199~exp=1670398799~hmac=df8f74814ca0485a54bb039ef39216c39da06dbbbbc3e277adc2abfe8f2ad9d0"
                alt="agent-2"
                class="img-fluid"
              />
            </a>
            <div class="team-social flex-middle">
              <div class="team-overlay"></div>
              <div class="team-social-inner">
                <a rel="nofollow" href="#" class="facebook">
                  <i class="fa fa-facebook" aria-hidden="true"></i>
                </a>
                <a rel="nofollow" href="#" class="twitter">
                  <i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
                <a rel="nofollow" href="#" class="google">
                  <i class="fa fa-google" aria-hidden="true"></i>
                </a>
                <a rel="nofollow" href="#" class="linkedin">
                  <i class="fa fa-linkedin" aria-hidden="true"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="team-info">
            <h4>
              <a href="#">Karen Paran</a>
            </h4>
            <p>Support Manager</p>
          </div>
        </div>
      </div>
      <div class="item slide-box">
        <div class="team-1">
          <div class="team-thumb">
            <a href="#">
              <img
                src="https://img.freepik.com/free-photo/handsome-corporate-man-real-estate-agent-assistant-smiling-hold-hands-together-how-may-i-help-you-smiling-friendly-polite-assist-customer-white-background_176420-45257.jpg?w=740&t=st=1670398199~exp=1670398799~hmac=df8f74814ca0485a54bb039ef39216c39da06dbbbbc3e277adc2abfe8f2ad9d0"
                alt="agent-2"
                class="img-fluid"
              />
            </a>
            <div class="team-social flex-middle">
              <div class="team-overlay"></div>
              <div class="team-social-inner">
                <a rel="nofollow" href="#" class="facebook">
                  <i class="fa fa-facebook" aria-hidden="true"></i>
                </a>
                <a rel="nofollow" href="#" class="twitter">
                  <i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
                <a rel="nofollow" href="#" class="google">
                  <i class="fa fa-google" aria-hidden="true"></i>
                </a>
                <a rel="nofollow" href="#" class="linkedin">
                  <i class="fa fa-linkedin" aria-hidden="true"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="team-info">
            <h4>
              <a href="#">Karen Paran</a>
            </h4>
            <p>Support Manager</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
<!-- Our team end -->

<!-- Testimonial 4 start -->
<!-- <div class="testimonial-4 comon-slick content-area-5">
  <div class="container"> -->
    <!-- Main title -->
    <!-- <div class="main-title">
      <h1>Our Testimonial</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
        eiusmod.
      </p>
    </div>
    <div
      class="slick row comon-slick-inner"
      data-slick='{"slidesToShow": 2, "responsive":[{"breakpoint": 1024,"settings":{"slidesToShow": 2}}, {"breakpoint": 768,"settings":{"slidesToShow": 1}}]}'
    >
      <div class="item slide-box">
        <div class="testimonial-info">
          <div class="user-section">
            <div class="user-thumb">
              <img
                src="https://img.freepik.com/free-photo/handsome-corporate-man-real-estate-agent-assistant-smiling-hold-hands-together-how-may-i-help-you-smiling-friendly-polite-assist-customer-white-background_176420-45257.jpg?w=740&t=st=1670398199~exp=1670398799~hmac=df8f74814ca0485a54bb039ef39216c39da06dbbbbc3e277adc2abfe8f2ad9d0"
                alt="testimonial"
                style="width: 100px"
              />
              <div class="icon">
                <i class="fa fa-quote-right"></i>
              </div>
            </div>
            <div class="user-name">
              <h5>Michelle Nelson</h5>
              <p>Consultant</p>
            </div>
          </div>
          <div class="text">
            <p>
              "Bitcoin is one of the most important inventions in all of human
              history. For the first time ever, anyone can send or receive any
              amount of money .Lorem ipsum dolor sit amet consectetur
              adipisicing elit."
            </p>
          </div>
        </div>
      </div>
      <div class="item slide-box">
        <div class="testimonial-info">
          <div class="user-section">
            <div class="user-thumb">
              <img
                src="https://img.freepik.com/free-photo/handsome-corporate-man-real-estate-agent-assistant-smiling-hold-hands-together-how-may-i-help-you-smiling-friendly-polite-assist-customer-white-background_176420-45257.jpg?w=740&t=st=1670398199~exp=1670398799~hmac=df8f74814ca0485a54bb039ef39216c39da06dbbbbc3e277adc2abfe8f2ad9d0"
                alt="testimonial"
                style="width: 100px"
              />
              <div class="icon">
                <i class="fa fa-quote-right"></i>
              </div>
            </div>
            <div class="user-name">
              <h5>Anne Brady</h5>
              <p>Web Designer, Uk</p>
            </div>
          </div>
          <div class="text">
            <p>
              "Bitcoin is one of the most important inventions in all of human
              history. For the first time ever, anyone can send or receive any
              amount of money .Lorem ipsum dolor sit amet consectetur
              adipisicing elit."
            </p>
          </div>
        </div>
      </div>
      <div class="item slide-box">
        <div class="testimonial-info">
          <div class="user-section">
            <div class="user-thumb">
              <img
                src="https://img.freepik.com/free-photo/handsome-corporate-man-real-estate-agent-assistant-smiling-hold-hands-together-how-may-i-help-you-smiling-friendly-polite-assist-customer-white-background_176420-45257.jpg?w=740&t=st=1670398199~exp=1670398799~hmac=df8f74814ca0485a54bb039ef39216c39da06dbbbbc3e277adc2abfe8f2ad9d0"
                alt="testimonial"
                style="width: 100px"
              />
              <div class="icon">
                <i class="fa fa-quote-right"></i>
              </div>
            </div>
            <div class="user-name">
              <h5>Carolyn Stone</h5>
              <p>Designer</p>
            </div>
          </div>
          <div class="text">
            <p>
              "Bitcoin is one of the most important inventions in all of human
              history. For the first time ever, anyone can send or receive any
              amount of money .Lorem ipsum dolor sit amet consectetur
              adipisicing elit."
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
<!-- Testimonial 4 end -->

<!-- Partners strat -->
<div class="partners bg-grea-5">
  <div class="container">
    <h4 style="font-weight: 700;">Brands <span> Partners</span></h4>
    <div class="row">
      <div class="col-lg-12">
        <div class="custom-slider slide-box-btn">
          <div class="custom-box">
            <img src="https://storage.googleapis.com/theme-vessel-items/checking-sites/neer-2-html/HTML/main/img/brand/brand-3.png" alt="brand" />
          </div>
          <div class="custom-box">
            <img src="https://storage.googleapis.com/theme-vessel-items/checking-sites/neer-2-html/HTML/main/img/brand/brand-3.png" alt="brand" />
          </div>
          <div class="custom-box">
            <img src="https://storage.googleapis.com/theme-vessel-items/checking-sites/neer-2-html/HTML/main/img/brand/brand-3.png" alt="brand" />
          </div>
          <div class="custom-box">
            <img src="https://storage.googleapis.com/theme-vessel-items/checking-sites/neer-2-html/HTML/main/img/brand/brand-3.png" alt="brand" />
          </div>
          <div class="custom-box">
            <img src="https://storage.googleapis.com/theme-vessel-items/checking-sites/neer-2-html/HTML/main/img/brand/brand-3.png" alt="brand" />
          </div>
          <div class="custom-box">
            <img src="https://storage.googleapis.com/theme-vessel-items/checking-sites/neer-2-html/HTML/main/img/brand/brand-3.png" alt="brand" />
          </div>
          <div class="custom-box">
            <img src="img/brand/brand-2.png" alt="brand" />
          </div>
          <div class="custom-box">
            <img src="img/brand/brand-3.png" alt="brand" />
          </div>
          <div class="custom-box">
            <img src="img/brand/brand-4.png" alt="brand" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{%endblock body%} {% block script %} {% endblock script %}
