{%load static%}
<!DOCTYPE html>
<html lang="zxx">
<head>
    <title>{% block title %}{% endblock title%} | lPC-Invest
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <!-- External CSS libraries -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/animate.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/bootstrap-submenu.css' %}" />
    <link rel="stylesheet" href="{% static 'css/bootstrap-select.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}" />
    {% comment %} <link rel="stylesheet" href="{% static 'css/leaflet.css' %}" />
    <link rel="stylesheet" href="{% static 'css/map.css' %}" /> {% endcomment %}
    <link rel="stylesheet" href="{% static 'fonts/font-awesome/css/font-awesome.min.css' %}" />
    <link rel="stylesheet" href="{% static 'fonts/bootstrap-icons/bootstrap-icons.css' %}" />
    <link rel="stylesheet" href="{% static 'fonts/flaticon/font/flaticon.css' %}" />
    <link rel="stylesheet" href="{% static 'fonts/linearicons/style.css' %}" />

    <!-- <link rel="stylesheet" href="{% static 'css/jquery.mCustomScrollbar.css' %}" /> -->
    <!-- <link rel="stylesheet" href="{% static 'css/dropzone.css' %}" /> -->
    
    <link rel="stylesheet" href="{% static 'css/slick.css' %}" />
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}" />
    <!-- <link rel="stylesheet" href="{% static 'css/boxes-component.css' %}" />
    <link rel="stylesheet" href="{% static 'css/boxes-core.css' %}" /> -->

    <!-- Custom stylesheet -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/initial.css' %}" />
    <link rel="stylesheet" href="{% static 'css/skins/default.css' %}" />

    <!-- Favicon icon -->
    <link rel="shortcut icon" href="{% static 'img/favicon2.png' %}" type="image/x-icon">

    <!-- Google fonts -->
    <!-- <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700;800&display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet"> -->

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link rel="stylesheet" href="{% static 'css/ie10-viewport-bug-workaround.css' %}" />

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script  src="js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script type="text/javascript" src="{% static 'js/ie-emulation-modes-warning.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>



<!-- New theme Styles Start-->

  <!-- <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=|Roboto+Sans:400,700|Playfair+Display:400,700"> -->

  <link rel="stylesheet" href="{% static 'new_theme/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'new_theme/css/animate.css' %}">
  <link rel="stylesheet" href="{% static 'new_theme/css/owl.carousel.min.css' %}">
  <link rel="stylesheet" href="{% static 'new_theme/css/aos.css' %}">
  <link rel="stylesheet" href="{% static 'new_theme/css/bootstrap-datepicker.css' %}">
  <link rel="stylesheet" href="{% static 'new_theme/css/jquery.timepicker.css' %}">
  <link rel="stylesheet" href="{% static 'new_theme/css/fancybox.min.css' %}">

  <link rel="stylesheet" href="{% static 'new_theme/fonts/ionicons/css/ionicons.min.css' %}">
  <link rel="stylesheet" href="{% static 'new_theme/fonts/fontawesome/css/font-awesome.min.css' %}">

  <!-- Theme Style -->
  <link rel="stylesheet" href="{% static 'new_theme/css/style.css' %}">


<!-- New theme Styles End -->




    <style>
        .seH:hover{
            background-color:white !important;
        }
        .navAlt{
        width:40% !important;
        text-align: left!important;
        backdrop-filter: blur(10px);
        background: rgba(255,255,255,0.7);
        }

        @media (max-width:768px) {
            .navAlt{
        width:100% !important;
        text-align: left!important;
        backdrop-filter: blur(10px);
        background: rgba(255,255,255,0.7);
        }
            
        }

        .ui-autocomplete{
            color:black;
            background-color: #fff ;
            padding:10px ;
            margin: 8px ;
            margin-top: 10px;
            font-weight: bolder;
            width: 300px;
            border: 1px solid;
            position: absolute;
            top: 50%;
            margin-left: 30px;
            z-index: 99999;
            letter-spacing: 0.8px;

            /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px; */
        }
        .heart {
  font-size: 25px;
	color:red;
}
.top-contact-item i {
    color:#ffffff !important;
    font-weight:bolder;
}
.navbar-brand i {
    color:#ffffff !important;
    font-weight:bolder;
    size:20px;
}
.navbar-brand i{
    display:none;
}

@media screen and (max-width: 815px) {
    .navbar-brand i{
    display:block!important;
    }
    #team_members{
        display:none !important;
    }
}
.contact_section i, button, a{
    font-weight: 700!important;
}

    </style>
    {% block css %}  {% endblock css %}
</head>

<body>

    <!-- Google Tag Manager (noscript) -->
 <script>
        var url = 'https://wati-integration-service.clare.ai/ShopifyWidget/shopifyWidget.js?66384';
        var s = document.createElement('script');
        s.type = 'text/javascript';
        s.async = true;
        s.src = url;
        var options = {
      "enabled":true,
      "chatButtonSetting":{
          "backgroundColor":"#4dc247",
          "ctaText":"",
          "borderRadius":"25",
          "marginLeft":"5",
          "marginBottom":"50",
          "marginRight":"50",
          "position":"left"
      },
      "brandSetting":{
          "brandName":"LPC Invest",
          "brandSubTitle":"Ask us anything, or share your feedback.",
          "brandImg":"{% static 'img/favicon2.png' %}",
          "welcomeText":"Hi there!\nHow can I help you?",
          "messageText":"Hello, I have a question about {{page_link}}",
          "backgroundColor":"#0a5f54",
          "ctaText":"Start Chat",
          "borderRadius":"25",
          "autoShow":false,
          "phoneNumber":"+44 7788 258827"
      }
    };
        s.onload = function() {
            CreateWhatsappChatWidget(options);
        };
        var x = document.getElementsByTagName('script')[0];
        x.parentNode.insertBefore(s, x);
    </script>

    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PT PV7L" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->


<!-- CONTACT BUTTONS FIXED START -->
        <div class="conTcts d-md-flex w-50 justify-content-end gap-5 d-none" style="position:absolute;top:2%;right:5%;z-index:99;" data-aos="zoom-out">
            <a href="tel://0161 713 3883" class="fs-6  text-light opacity-50"><i class="fa fa-phone pe-0"></i>  0161 713 3883 </a>
            <a href="mailto:info@lpcinvest.com" class="fs-6 text-light opacity-50 "><i class="fa fa-envelope pe-2"></i> info@lpcinvest.com</a>
        </div>
<!-- CONTACT BUTTONS FIXED END -->



 <!-- Search Modal start -->
 <div id="toggleSearchModal" class="row m-0 h-100  ">
    <div class="closeTog position-absolute d-flex justify-content-end p-2 p-md-5">
        <button class="closeSearch border-0 btn-danger" onclick="searchPop()"><i class="fa fa-close"></i></button>
    </div>
        <div class="h-100 w-100 d-flex align-items-start pt-md-0 pt-5  mt-md-0 mt-5 align-items-md-center justify-content-center">
            <div class="searchModal mt-md-0 pt-md-0">
                <form method='get' action='/top-search'>
                <div class="input-group">
                    <div class="form-outline autocomplete" id="autocomplete">
                        <input type="search" id="query" name="query" style="width:100%;" class="form-control search-fields sf" placeholder="Search for anything"
                        hx-get="/search/autocompldete" hx-trigger="keyup changed delay:100ms"
                        hx-target="#search-results" hx-indicator=".htmx-indicator"/>
                    </div>
                    <button type="submit" class="btn btn-primary border-1 rounded-0 cont-sec seH">
                        <i class="fa fa-search fw-bold fs-4"></i>
                    </button>
                </div>
            </form>
            </div>
        </div> 
    </div> 


<!-- Search Modal End -->



    <header class="site-header js-site-header py-1 py-md-5">
      <div class="container-fluid">
        <div class="row d-flex align-items-center">
          <div class="col-6 col-lg-3 site-logo ps-1 ps-md-5" data-aos="fade" style="z-index:1">
            <a href="/">
              <img id="logoTop" src="{% static 'img/logo/logo2.png' %}" style="height:40px;" alt="logo">
            </a>
          </div>
          <div class="col-6 col-lg-9 pe-1 d-flex justify-content-end">
    <!-- Main header start -->
    <div class="main-header-5 main-header d-xl-block d-none" >
          <div class="container px-0">
              <div class="header-inner" >
                  <nav class="navbar navbar-expand-lg navbar-light text-capitalize">
                      <!-- <div class="d-flex justify-content-between">
                          <button class="navbar-toggler" id="drawer" type="button">
                          <span class="fa fa-bars"></span>
                      </button>
                      </div> -->
                      <div class="navbar-collapse collapse w-100 px-2" id="navbar">
                          <ul class="navbar-nav w-100 justify-content-between">
                              <li class="nav-item dropdown">
                                  <a  class="nav-link dropdown-toggle text-capitalize" href="/all-properties" id="navbarDropdownMenuLink2"
                                      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Properties
                                  </a>
  
                                  <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

                                          <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="/all-properties">All Cities</a></li>
                                              {%for city in common_properties_data.cities%}
                                              <li><a class="dropdown-item" href="/city/{{city}}">{{city|title }}</a></li>
                                      {%endfor%}
                                  </ul>
                              </li>
  
                          </ul>
  
                          </li>
  
                          <li class="nav-item dropdown">
                              <a class="nav-link dropdown-toggle text-capitalize" href="#" id="navbarDropdownMenuLink6"
                                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  City Guide
                              </a>
                              {% comment %} <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                  <li><a class="dropdown-item" href="/city-guide/birmingham">Birmingham</a></li>
                                  <li><a class="dropdown-item" href="/city-guide/bournemouth">Bournemouth</a></li>
                                  <!-- <li><a class="dropdown-item" href="/city-guide/Bolton">Bolton</a></li> -->
  
                              </ul> {% endcomment %}
                          </li>
  
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="/blogs">
                                Blogs
                            </a>
                          </li>
                          <li class="nav-item dropdown">
                              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink6"
                                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Resources</a>
                              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                  <li><a class="dropdown-item text-capitalize" href="/beginners-guide">Beginner’s Guide</a></li>
                                  <li><a class="dropdown-item text-capitalize" href="/investing-in-the-uk">Investing in the U.K. from Overseas</a></li>
                                  <li><a class="dropdown-item text-capitalize" href="/reasons-to-invest">5 Reasons to Invest</a>
                                  </li>
                                  <li><a class="dropdown-item text-capitalize" href="/construction-updates">Construction Updates</a></li>
                                  <li><a class="dropdown-item text-capitalize" href="/downloads">Downloadable Assets</a></li>
  
                                  <li><a class="dropdown-item text-capitalize" href="/faqs">FAQs</a></li>
                                  <li>
                                      <a class="dropdown-item text-capitalize" href="/stamp-duty-calculator">Stamp Duty Calculator</a>
                                  </li>
                                  <li>
                                      <a class="dropdown-item text-capitalize" href="/mortgage-calculator">Mortgage Calculator </a>
                                  </li>
                              </ul>
                          </li>
                          <li class="nav-item dropdown">
                              <a class="nav-link dropdown-toggle text-capitalize" href="/about" id="navbarDropdownMenuLink6"
                                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">About Us</a>
                              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                  <a class="dropdown-item text-capitalize" href="/about">About LPC</a>
                          </li>
                          <li>
                              <a class="dropdown-item text-capitalize" href="/about/community">lPC in the community</a>
                          </li>
                          <li>
                              <a class="dropdown-item text-capitalize" href="/about/team">Meet the team</a>
                          </li>
                          <li>
                            <a class="dropdown-item text-capitalize" href="/about/developers">Developers</a>
                          </li>
                          <li>
                              <a class="dropdown-item text-capitalize" href="/about/partners">Partners</a>
                              <li> <a class="dropdown-item text-capitalize" href="/about/partners">referral scheme</a></li>
                          </li>
                          </li>
                          </ul>
                          </li>
                          <li class="nav-item dropdown">
                              <a class="nav-link dropdown-toggle" href="/contact" id="navbarDropdownMenuLink6"
                                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Contact Us</a>
                              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                  <li>
                                      <a class="dropdown-item" href="/contact">Contact Us</a>
                                  </li>
                                  <li>
                                      <a class="dropdown-item" target="_blank"
                                          href="https://lpcinvest.pipedrive.com/scheduler/DpedXLfo/book-a-free-consultation-meeting">Book
                                          Appointment</a>
                                  </li>
                              </ul>
                          </li>
                          <li class="nav-item dropdown">
                              <a class="nav-link dropdown-toggle" href="/profile" id="navbarDropdownMenuLink7"
                                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">My Account</a>
                              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                  <li><a class="dropdown-item" href="/profile">Login</a></li>
                                  <li><a class="dropdown-item" href="/profile">Register</a></li>
                                  <li><a class="dropdown-item" href="/profile">Profile</a></li>
                                  <li><a class="dropdown-item" href="/favorited-properties">Favorited Properties</a></li>
                                  <li><a class="dropdown-item" href="/exclusive-properties">Exclusive Properties</a></li>
                                  <li><a class="dropdown-item" href="/monthly-offers">Offers</a></li>
                                </ul>
                          </li>
                          <!-- <li class="nav-item">
                            <a class="nav-link disabled" href="#">Disabled</a>
                          </li> -->
                          </ul>
                          <button onclick="searchPop()" id="conPhn" class="btn btn-sm border-left bg-none rounded-0 px-3 ms-3 me-2 fw-bold"><i class="fa fa-search fs-4"></i></button>
                      </div>
                  </nav>
              </div>
          </div>
        </div>
      <!-- Main header end -->

       

      <nav id="sidebar" class="nav-sidebar site-navbar js-site-navbar py-0 border-0">
        <!-- Close btn-->
        <!-- <div id="dismiss" >
            <i class="text-light fa fa-close"></i>
        </div> -->
    
        <div class="sidebar-inner">
    
            <div class="sidebar-inner">
              <div style="background:#00CE8D;height:71px; width:90%;position:absolute;z-index:-1;right:0;"></div>
                <div class="sidebar-logo border-0" >
    
                  <img src="/static/img/logo/logo3.png" alt="sidebarlogo" />
                  <div class="bgcurve d-md-block"></div>
                </div>
                <div class="sidebar-navigation">
                  <ul class="menu-list">
                    <li>
                        <a href="/all-properties">Properties <em class="fa fa-chevron-down"></em></a>
                        <ul>
                            <li><a href="/all-properties">All Properties</a></li>
                            {%for city in common_properties_data.cities%}
                            <li><a href="/city/{{city}}">{{city|title }}</a></li>
                            {%endfor%}
                    
                           
                        </ul>
                    </li>
                    <li><a href="/blogs">Blogs</a>
                    </li>
                    <li>
                        <a href="#">City Guide <em class="fa fa-chevron-down"></em></a>
                        {% comment %} <ul>
                            <li><a class="dropdown-item" href="/city-guide/birmingham">Birmingham</a></li>
                                    <li><a class="dropdown-item" href="/city-guide/bournemouth">Bournemouth</a></li>
                                    <!-- <li><a class="dropdown-item" href="/city-guide/Bolton">Bolton</a></li> -->
                        </ul> {% endcomment %}
                    </li>
                    <li><a href="#">Resources <em class="fa fa-chevron-down"></em></a>
                        <ul>
                            <li><a class="dropdown-item text-capitalize" href="/beginners-guide">Beginner’s Guide</a></li>
                                    <li><a class="dropdown-item text-capitalize" href="/investing-in-the-uk">Investing in the U.K. from Overseas</a></li>
                                    <li><a class="dropdown-item text-capitalize" href="/reasons-to-invest">5 Reasons to Invest</a>
                                    </li>
                                    <li><a class="dropdown-item text-capitalize" href="/construction-updates">Construction Updates</a></li>
                                    <li><a class="dropdown-item text-capitalize" href="/downloads">Downloadable Assets</a></li>
    
                                    <li><a class="dropdown-item text-capitalize" href="/faqs">FAQs</a></li>
                                    <li>
                                        <a class="dropdown-item text-capitalize" href="/stamp-duty-calculator">Stamp Duty Calculator</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item text-capitalize" href="/mortgage-calculator">Mortgage Calculator </a>
                                    </li>
    
                        </ul>
                    </li>
    
    
                    <li><a href="/login">About Us <em class="fa fa-chevron-down"></em></a>
                        <ul>
                            <li>  <a class="dropdown-item text-capitalize" href="/about">About LPC</a></li>
                            <li>  <a class="dropdown-item text-capitalize" href="/about/community">LPC in the community</a></li>
                            <li><a class="dropdown-item text-capitalize" href="/about/team">Meet the team</a></li>
                            <li> <a class="dropdown-item text-capitalize" href="/about/partners">Partners</a></li>
                            <li> <a class="dropdown-item text-capitalize" href="/about/developers">Developers</a></li>
                            <li> <a class="dropdown-item text-capitalize" href="/about/partners">referral scheme</a></li>
                        </ul>
                    </li>
    
                    <li><a href="/login">Contact Us<em class="fa fa-chevron-down"></em></a>
                        <ul>
                            <li>  <a class="dropdown-item text-capitalize" href="/contact">Contact Us</a></li>
                            <li>  <a class="dropdown-item text-capitalize" target="_blank"
                                href="https://lpcinvest.pipedrive.com/scheduler/DpedXLfo/book-a-free-consultation-meeting">Book
                                Appointment</a></li>
                        </ul>
                    </li>
    
    
                    <li><a href="/login">My Account <em class="fa fa-chevron-down"></em></a>
                        <ul>
                            <li><a href="/login">Login</a></li>
                            <li><a href="/register">Register</a></li>
                            <li><a href="/profile">Profile</a></li>
    
                            <li><a href="/favorited-properties">Favorited Properties </a></li>
    
                            <li><a href="/exclusive-properties">Exclusive Properties</a></li>
    
                            <li><a href="/monthly-offers">Offers</a></li>
    
    
    
    
                        </ul>
                    </li>
                </ul>
                </div>
    
                <div class="get-in-touch">
                  <h3 class="heading">Get in Touch</h3>
                  <div class="get-in-touch-box d-flex">
                      <i class="flaticon-phone"></i>
                      <div class="detalis">
                        <a href="tel://01617133883"> 0161 713 3883</a>            </div>
                  </div>
                  <div class="get-in-touch-box d-flex">
                      <i class="flaticon-mail"></i>
                      <div class="detalis">
                        <a href="mailto:info@lpcinvest.com">info@lpcinvest.com
                        </a>            </div>
                  </div>
              </div>
              <div class='text-center mt-1'><a href='https://lpcinvest.pipedrive.com/scheduler/DpedXLfo/book-a-free-consultation-meeting' target="_blank" >
              <button type="submit" class="btn-4"> <i class="fa fa-video-camera"></i> Book a Call</button></a>
              </div>
              <div class="get-social">
                <h3 class="heading">Get Social</h3>
                <a href="https://www.facebook.com/lpcinvest/" class="facebook-bg cont-sec">
                    <i class="fa fa-facebook"></i>
                </a>
                <a href="https://twitter.com/lpcinvest" class="twitter-bg cont-sec">
                    <i class="fa fa-twitter"></i>
                </a>
                <a href="mailto:info@lpcinvest.com" class="google-bg cont-sec">
                    <i class="fa fa-google"></i>
                </a>
                <a href="#" class="linkedin-bg bg-none cont-sec">
                    <i class="fa fa-linkedin"></i>
                </a>
                <a href="https://www.instagram.com/lpcinvestltd/" class="instagram-bg bg-none cont-sec">
                    <i class="fa fa-instagram"></i>
                </a>

            </div>
            </div>
        </div>
    </nav>


        
            <button onclick="searchPop()" id="conPhn2" class="btn btn-sm border-right bg-none d-xl-none d-block rounded-0 px-3 ms-3 me-2 fw-bold"><i class="fa fa-search fs-4"></i></button>

            <!-- <div class="d-flex align-items-center justify-content-end" id="conTog" style="padding-top:24px"> -->
                <div id="conTog" class="site-menu-toggle mt-3 js-site-menu-toggle ms-2 me-2 d-block d-xl-none"  data-aos="fade" >
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
       
          </div>
        </div>
      </div>
    </header>




    <script>window.pipedriveLeadboosterConfig = {base: 'leadbooster-chat.pipedrive.com',companyId: 10346415,playbookUuid: '7435e1ea-a099-4348-b123-407c50b5b832',version: 2};(function () {var w = window;if (w.LeadBooster) {console.warn('LeadBooster already exists');} else {w.LeadBooster = {q: [],on: function (n, h) {this.q.push({ t: 'o', n: n, h: h });},trigger: function (n) {this.q.push({ t: 't', n: n });},};}})();</script>


    {%block body%}
    {%endblock body%}
<!-- Footer start -->
   <!-- Footer start -->
   <footer class="main-footer-3">
    <div class="lines">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
    <div class="subscribe-newsletter">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <h3 class="fw-bold">Subscribe <span style="color: #00CE8D;">Newsletter</span></h3>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="Subscribe-box">
                        <div class="newsletter-content-wrap">
                            <form class="newsletter-form d-flex" action="/newsletter">
                                <input class="form-control" type="email" id="email" name="email"
                                    placeholder="Email Address...">
                                <button class="btn btn-theme cont-sec" type="submit"><i class="fa fa-paper-plane"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="clearfix"></div>
    <div class="footer-inner">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                    <div class="footer-item">
                        <h4>City Guide</h4>
                        <div class="s-border"></div>
                        <ul class="links">
                            <!-- <li>
                                <a href="/city-guide/Ashford"><i class="fa fa-angle-right"></i>Ashford</a>
                            </li> -->
                            <li>
                                <a href="/city-guide/Birmingham"><i class="fa fa-angle-right"></i> Birmingham</a>
                            </li>
                            <li>
                                <a href="/city-guide/Leeds"><i class="fa fa-angle-right"></i>Bradford</a>
                            </li>

                            <!-- <li>
                                <a href="/city-guide/birmingham"><i class="fa fa-angle-right"></i> Leeds</a>
                            </li> -->
                            <li>
                                <a href="/city-guide/birmingham"><i class="fa fa-angle-right"></i>Liverpool</a>
                            </li>
                            <li>
                                <a href="/city-guide/birmingham"><i class="fa fa-angle-right"></i>London</a>
                            </li>
                            <li>
                                <a href="/city-guide/birmingham"><i class="fa fa-angle-right"></i>Manchester</a>
                            </li>
                        </ul>
                    </div>
                </div>
                </li>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                    <div class="footer-item">
                        <h4>Resources</h4>
                        <div class="s-border"></div>
                        <ul class="links">
                            <li>
                                <a href="/beginners-guide"><i class="fa fa-angle-right"></i>Beginner’s Guide</a>
                            </li>
                            <li>
                                <a href="/investing-in-the-uk"><i class="fa fa-angle-right"></i>Investing in the U.K. from Overseas</a>
                            </li>
                             <li>
                                <a href="/reasons-to-invest"><i class="fa fa-angle-right"></i>5 Reasons to Invest</a>
                            </li>
                            <li>
                                <a href="/construction-updates"><i class="fa fa-angle-right"></i>
                                    Construction
                                    Updates</a>
                            </li>
                            <li>
                                <a href="/downloads"><i class="fa fa-angle-right"></i>Downloads</a>
                            </li>
                            <li>
                                <a href="/faqs"><i class="fa fa-angle-right"></i>FAQ's</a>
                            </li>
                            <li>
                                <a href="/stamp-duty-calculator"><i class="fa fa-angle-right"></i>Stamp Duty
                                    Calculator</a>
                            </li>
                            <li>
                                <a href="/mortgage-calculator"><i class="fa fa-angle-right"></i>Mortgage Calculator
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                    <div class="footer-item">
                        <h4>My account</h4>
                        <div class="s-border"></div>


                        <ul class="links">
                            <li>
                                <a href="/profile"><i class="fa fa-angle-right"></i>Profile</a>
                            </li>
                            <li>
                                <a href="/favorited-properties"><i class="fa fa-angle-right"></i>Favorited
                                    Properties</a>
                            </li>
                            <li>
                                <a href="/exclusive-properties"><i class="fa fa-angle-right"></i>Exclusive
                                    Properties</a>
                            </li>
                            <li>
                                <a href="/monthly-offers"><i class="fa fa-angle-right"></i>Monthly Offers</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                    <div class="footer-item">
                        <h4>About Us</h4>
                        <div class="s-border"></div>
                        <ul class="links">
                            <li>
                                <a href="/about" class='text-capitalize'><i class="fa fa-angle-right"></i>About LPC</a>
                            </li>
                            <li>
                                <a href="/about/community" class='text-capitalize'><i class="fa fa-angle-right"></i>lPC in the
                                    community</a>
                            </li>
                            <li>
                                <a href="/about/team" class='text-capitalize'><i class="fa fa-angle-right"></i>Meet the team</a>
                            </li>
                            <li>
                                <a href="/about/partners"class='text-capitalize'><i class="fa fa-angle-right"></i>Partners</a>
                            </li>
                            <li>
                                <a href="/about/partners"class='text-capitalize'><i class="fa fa-angle-right"></i>referral scheme</a>
                            </li>
                            <li>
                                <a href="/about/privacy-policy"class='text-capitalize'><i class="fa fa-angle-right"></i>privacy policy</a>
                            </li>
                            <li>
                                <a href="/about/terms-conditions"class='text-capitalize'><i class="fa fa-angle-right"></i>Terms & Conditions</a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer-item">
                        <h4>Talk to us</h4>
                        <div class="s-border"></div>
                        <ul class="links">
                            <li>
                                <a href="/faqs"><i class="fa fa-angle-right"></i>FAQ'S</a>
                            </li>
                            <li>
                                <a href="/contact"><i class="fa fa-angle-right"></i>Contact us</a>
                            </li>
                            <li>
                                <a target="_blank"
                                    href="https://lpcinvest.pipedrive.com/scheduler/DpedXLfo/book-a-free-consultation-meeting"><i class="fa fa-angle-right"></i>Book
                                    Appointment</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-3 col-md-6 col-sm-6">
                    <div class="footer-item clearfix">
                        <h4>
                            Contact Info
                        </h4>
                        <div class="s-border"></div>

                        <ul class="contact-info">
                            <li>
                                <i class="flaticon-pin cont-sec"></i>Address:
                                <a href="https://www.google.com/maps/search/25%2F7+Barden,+London/@51.5287718,-0.2416803,11z/data=!3m1!4b1"
                                    target="_blank">Arrive, White MediaCityUK, Salford M50 2NT</a>

                            </li>
                            <li>
                                <i class="flaticon-mail cont-sec"></i><a href="mailto:info@lpcinvest.com">info@lpcinvest.com
                                </a>
                            </li>
                            <li>
                                
                                <i class="flaticon-phone cont-sec"></i><a href="tel:+44 (0) 161 713 3883">+44 161 713
                                    3883</a>
                            </li>
                            <li></li>

                        </ul>
                        <div class="social-media clearfix" style="float:none">
                            <div class="social-list">
                                <a href="https://www.facebook.com/lpcinvest/" class="icon facebook cont-sec">
                                    <div class="tooltip">Facebook</div>
                                    <span><i class="fa fa-facebook"></i></span>
                                </a>
                                <a href="https://twitter.com/lpcinvest" class="icon twitter cont-sec">
                                    <div class="tooltip">Twitter</div>
                                    <span><i class="fa fa-twitter"></i></span>
                                </a>
                                <a href="https://www.instagram.com/lpcinvestltd/" class="icon instagram cont-sec">
                                    <div class="tooltip">Instagram</div>
                                    <span><i class="fa fa-instagram"></i></span>
                                </a>
                                <a href="https://www.linkedin.com/company/lpcinvest/" class="icon github cont-sec">
                                    <div class="tooltip">LinkedIn</div>
                                    <span><i class="fa fa-linkedin"></i></span>
                                </a>
                                <!-- <div class="icon youtube mr-0 cont-sec">
                                    <div class="tooltip">Youtube</div>
                                    <span><i class="fa fa-youtube"></i></span>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sub-footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <p class="copy">© 2023 <a href="/"> LPC Invest Limited.</a> All Rights Reserved.</p>
                </div>
                <div class="col-lg-6 col-md-6">

                </div>
            </div>
        </div>
    </div>
</footer>




<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script type="text/javascript" src="{% static 'js/ie10-viewport-bug-workaround.js' %}"></script>
<!-- Custom javascript -->
<script>

// Listen for Submit
document.getElementById("loan-form").addEventListener("submit", function(e) {
  // Hide Results
  document.getElementById("result").style.display = "none";

  // Show Loader

  setTimeout(calculateResults, 0.5);

  e.preventDefault();
});

// Calculate Results
function calculateResults() {
  // UI Vars
  const amount = document.getElementById("amount");
  const interest = document.getElementById("interest");
  const years = document.getElementById("years");
  const monthlyPayment = document.getElementById("monthly-payment");
  const totalPayment = document.getElementById("total-payment");
  const totalInterest = document.getElementById("total-interest");

  const principal = parseFloat(amount.value);
  const calculatedInterest = parseFloat(interest.value) / 100 / 12;
  const calculatedPayments = parseFloat(years.value) * 12;

  // Computed Monthly payment
  const x = Math.pow(1 + calculatedInterest, calculatedPayments);
  const monthly = (principal * x * calculatedInterest) / (x - 1);

  if (isFinite(monthly)) {
    monthlyPayment.value = monthly.toFixed(2);
    totalPayment.value = (monthly * calculatedPayments).toFixed(2);
    totalInterest.value = (monthly * calculatedPayments - principal).toFixed(2);

    // Show Results
    document.getElementById("result").style.display = "block";

    // Hide Loader
  } else {
    showError("Please check number inputs");
  }
}

// Show Error
function showError(error) {
  // Hide Results
  document.getElementById("result").style.display = "none";

  // Hide Loader
  document.getElementById("loading").style.display = "none";

  // Create a div
  const errorDiv = document.createElement("div");

  // Get Elements
  const card = document.querySelector(".card");
  const heading = document.querySelector(".heading");

  // Add class
  errorDiv.className = "alert alert-danger";

  // Create text node and append div
  errorDiv.appendChild(document.createTextNode(error));

  // Insert error above heading
  card.insertBefore(errorDiv, heading);

  // Clear Error after 3 seconds
  setTimeout(clearError, 0);

  // Clear Error
  function clearError() {
    document.querySelector(".alert").remove();
  }
}


</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"
    integrity="sha512-uto9mlQzrs59VwILcLiRYeLKPPbS/bT71da/OEBYEwcdNUk8jYIy+D176RYoop1Da+f9mvkYrmj5MCLZWEtQuA=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script>

    $(document).ready(function () {
        AOS.init();
        window.addEventListener('load', AOS.refresh);
      });

    </script>




    <script>

//         $('.clearAll').on('click', function() {
//   $('#properties_status').val([]);
// });
// $('#properties_status').selectpicker('refresh');
// $('.SelectAll').click(function() {

//     $('#properties_status option').attr("selected","selected");
// $('#properties_status').selectpicker('refresh');

    // $('#properties_status option').prop('selected', true);

//     $('#idSelect option').attr("selected",false);
// $('#idSelect').selectpicker('refresh');
// });
$(".heart.fa").click(function() {
    var is_checked
    if (this.className == "heart fa fa-heart-o"){
        is_checked = true
    }
    else if (this.className == "heart fa fa-heart"){
        is_checked = false
    }
    var fav_properties = []

    var temp_dict = {
    "property_id": this.id,
    "status": is_checked
    }
    fav_properties.push(temp_dict);
  $(this).toggleClass("fa-heart fa-heart-o");
  $.ajax({ url: 'get-favorited-properties',
type: "POST",
dataType: "json",
headers: {
"X-CSRFToken": getCookie("csrftoken")
},
data: {'fav_properties':JSON.stringify(fav_properties)},
}).done(function(data) {
        if (data.result === true)
        {
            window.location('/login')
    }
});
});





        </script>
{% block script %} {% endblock script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js" integrity="sha512-0bEtK0USNd96MnO4XhH8jhv3nyRF0eK87pJke6pkYf3cM0uDIhNJy9ltuzqgypoIFXw3JSuiy04tVk4AjpZdZw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script>
    window.onscroll = function(){logoChanger()};
    function logoChanger(){
        document.documentElement.scrollTop > 200?document.getElementById('logoTop').src="{% static 'img/logo/logo3.png' %}":document.getElementById('logoTop').src="{% static 'img/logo/logo2.png' %}";
        document.documentElement.scrollTop > 200?document.getElementById('conPhn').style.color="rgba(0,0,0,0.8)":document.getElementById('conPhn').style.color="rgba(255,255,255,0.8)";
        document.documentElement.scrollTop > 200?document.getElementById('conPhn2').style.color="rgba(0,0,0,0.8)":document.getElementById('conPhn2').style.color="rgba(255,255,255,0.8)";
        document.documentElement.scrollTop > 200?document.getElementById('conPhn2').style.marginTop="16px":document.getElementById('conPhn2').style.marginTop="0px";

        let allLink = document.getElementsByClassName('nav-link');
        const mapLinks = [...allLink]
        if(document.documentElement.scrollTop > 200){
            mapLinks.map((ini)=>{
                ini.style.color="rgba(0,0,0,0.8)";
            })
        }
        else{
            mapLinks.map((ini)=>{
                ini.style.color="rgba(255,255,255,0.8)";
            })
        }
    }

    function searchPop(){

        document.getElementById('toggleSearchModal').style.display=="block"?document.getElementById('toggleSearchModal').style.display="none":document.getElementById('toggleSearchModal').style.display="block";
        
    
    }
</script>

<!-- New theme js end -->
<script type="text/javascript" src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap-submenu.js' %}"></script>
<script type="text/javascript" src="{% static 'js/rangeslider.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap-select.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.easing.1.3.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.scrollUp.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.mCustomScrollbar.concat.min.js' %}"></script>

{% comment %} <script type="text/javascript" src="{% static 'js/leaflet.js' %}"defer></script>
<script type="text/javascript" src="{% static 'js/leaflet-providers.js' %}" defer></script>
<script type="text/javascript" src="{% static 'js/leaflet.markercluster.js' %}" defer></script> {% endcomment %}
<!-- <script type="text/javascript" src="{% static 'js/dropzone.js' %}"></script> -->

<script type="text/javascript" src="{% static 'js/slick.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.filterizr.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.countdown.js' %}"></script>
<script type="text/javascript" src="{% static 'js/modernizr.custom.js' %}"></script>

<!-- <script type="text/javascript" src="{% static 'js/boxes-component.js' %}"defer></script>
<script type="text/javascript" src="{% static 'js/boxes-core.js' %}"defer></script> -->

{% comment %} <script type="text/javascript" src="{% static 'js/maps.js' %}" defer></script> {% endcomment %}
<script type="text/javascript" src="{% static 'js/app.js' %}"></script>
<script src="{%static 'new_theme/js/owl.carousel.min.js' %}"></script>
<script src="{%static 'new_theme/js/jquery.stellar.min.js' %}"></script>
<script src="{%static 'new_theme/js/jquery.fancybox.min.js' %}"></script>
<script src="{%static 'new_theme/js/aos.js' %}"></script>
<script src="{%static 'new_theme/js/bootstrap-datepicker.js' %}"></script>
<script src="{%static 'new_theme/js/jquery.timepicker.min.js' %}"></script>
<script src="{%static 'new_theme/js/main.js' %}"></script>
<script type="application/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"integrity="sha512-uto9mlQzrs59VwILcLiRYeLKPPbS/bT71da/OEBYEwcdNUk8jYIy+D176RYoop1Da+f9mvkYrmj5MCLZWEtQuA=="crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js" integrity="sha512-0bEtK0USNd96MnO4XhH8jhv3nyRF0eK87pJke6pkYf3cM0uDIhNJy9ltuzqgypoIFXw3JSuiy04tVk4AjpZdZw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    $(document).ready(function () {
        $("#query").autocomplete({
          source: "/top-search",
          minLength: 2,
          open: function () {
            setTimeout(function () {
            }, 0);
          }
        });
      });
    </script>
</script>
<script src="https://webforms.pipedrive.com/f/loader" defer></script>
<script src= "https://leadbooster-chat.pipedrive.com/assets/loader.js" defer></script>
</body>
</html>
