{% extends 'user/basic.html' %} {% load static %} 
{% load templatehelpers %}
{% block title %} Blogs and Articles {%endblock title%} {% block css %} 
<style>

  .pagination-box{
    text-align: center !important;
  }
  p{
    font-weight: 700!important;
  }
  </style>
{% endblock css %} {% block body %}

<div class="banner" id="banner">
  
  <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
      <div class="carousel-inner">
          <div class="carousel-item item-bg active">
              <img class="d-block w-100 h-100 ratioCar" src="/static/img/background-index/1.jpg" alt="banner">
              <div class="carousel-caption banner-slider-inner d-flex h-100 text-start">
                <div class="carousel-content container align-self-center">
                  <div class="banner-info2">
                      <div class="text-l text-center">
                          <h3 class="text-capitalize display-3">THE LATEST NEWS <span class="d-block text-light fs-3 pt-2">Learn with LPC Invest's Property Experts</span> </h3>
                      </div>
                  </div>
              </div>
              </div>
          </div>
          <div class="carousel-item item-bg">
              <img class="d-block w-100 h-100 ratioCar" src="/static/img/background-index/2.jpg" alt="banner">
              <div class="carousel-caption banner-slider-inner d-flex h-100 text-start">
                  <div class="carousel-content container align-self-center">
                    <div class="banner-info2">
                      <div class="text-l text-center">
                        <h3 class="text-capitalize display-3">THE LATEST NEWS <span class="d-block text-light fs-3 pt-2">Learn with LPC Invest's Property Experts</span> </h3>
                      </div>
                  </div>
                  </div>
              </div>
          </div>
          <div class="carousel-item item-bg">
              <img class="d-block w-100 h-100 ratioCar" src="/static/img/background-index/3.jpg" alt="banner">
              <div class="carousel-caption banner-slider-inner d-flex h-100 text-start">
                <div class="carousel-content container align-self-center">
                  <div class="banner-info2">
                    <div class="text-l text-center">
                      <h3 class="text-capitalize display-3">THE LATEST NEWS <span class="d-block text-light fs-3 pt-2">Learn with LPC Invest's Property Experts</span> </h3>
                    </div>
                </div>
                </div>
              </div>
          </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev" style="top:45%">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next" style="width:15%">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
      </button>
  </div>
 
</div>
<br>
<div class="container my-5 mt-5">
<div class="inline-search-area isa-5 isa-992 clearfix">
  <form method='get' action='/blogs'>
      <div class="row">
          <div class="autocomplete col-md-6 col-sm-12 col-12" id='autocomplete'>
              <input class="form-control search-fields sf" name='blog_title' id="blog_title"
                  placeholder="Search for Blog title"
                  hx-get="/search/autocompldete" hx-trigger="keyup changed delay:100ms"
                  hx-target="#search-results" hx-indicator=".htmx-indicator" style="border: solid #00CE8D 1px;">
          </div>
          <div class="col-md-3 col-sm-6 col-6">
              <select class="selectpicker search-fields" name="blog_city"style="border: solid #00CE8D 1px;"
                  id="blog_city">
                  <option type="button" value="all">All Cities </option>
                  {%for city in common_properties_data.cities%}
                  {%if page_data.selected_city == city%}
                  <option value="{{city}}" selected>{{city | title }}</option>
                  {%else %}
                  <option value="{{city}}">{{city | title}}</option>
                  {%endif%}
                  {%endfor%}
              </select>
          </div>
          <div class="col-md-3 col-sm-6 col-6">
              <button class="btn button-theme btn-search w-100 mb-0">
                  <strong>Search</strong>
              </button>
          </div>
      </div>
  </form>
</div>
</div>
<div class="container">
  <h1 class="h1 heading text-center py-4" style="color:#00CE8D;"><span style="color:#262525">Blogs and Articles</span></h1>
  <hr style="height:5px;background-color: #00CE8D;"/>
  <p class="text-center lead py-3 mb-5">Stay informed and advance your knowledge of current developments in the UK's property market</p>

</div>


</div>
<!-- Blog body start -->
<div class="blog comon-slick content-area bg-light pt-3 mt-3 mb-3" data-aos="fade-up">
  <div class="container">

    {%if page_data.not_found%}
    <div class="pages-404">
    <div class="nobottomborder">
      <h1 style='color:#00CE8D'>
        It seems we can't find what you're looking for.!</h1>
      <div class="row">
        <div class="col-lg-5 col-md-5">
          <div class="coming-form clearfix" style="margin-top:0px;">
                  <p>Please try searching again</p>
              </div>
            </div>

          </div>
      </div>
  </div>
{%endif%}
{%if blogs%}

    <div class="main-title-5">
    <h2 class="heading">The Latest <span style="color:#00CE8D">News</span></span></h2>
    </div>
      <div class="row">
        {%for blog in blogs%}   
          <div class="col-lg-4 col-md-6">
            <div class="item slide-box">
                <div class="blog-3 b-photo2" style=" background: url(media/{{blog.image_1}});
                background-size:cover;background-repeat: no-repeat;background-position: center;">
                    <div class="blog-info">
                        <h3 style="font-weight:700" class='text-capitalize'><a href="/blog/{{blog.desc | slugify}}/{{blog.id}}">{{blog.desc}}..</a></h3>
                          <div class = "btn-group">
                                    <p><i class="fa fa-calendar  pt-4"></i> {{blog.pub_date}}</p> 
                                    <p class="ml-3 text-capitalize"><i class="fa fa-clock-o pe-1 pt-4"></i>{{blog.read_time}}</p> 
                          </div>
                    </div>
                </div>
            </div>
          </div>
          {%endfor%}

         
        
      </div>
      <!-- Page navigation start -->
      <div class="text-center py-2 mr-3" style="text-align: center!important;">
        {% if is_paginated %}
        <div class="pagination-box hidden-mb-45 text-center">
          <nav class="pagination">
            <ul class="pagination mx-auto">
              {% if page_obj.has_previous %}
              <li class="page-item">
                <a class="page-link" tabindex="-1" aria-disabled="true"
                  href="{% relative_url page_obj.previous_page_number 'page' request.GET.urlencode %}">Previous</a>
              </li>
              {% endif %}
              {% for i in paginator.page_range %}
              {% if i == page_obj.number%}
              <li class="page-item">
                <a class="page-link active" href="{% relative_url i 'page' request.GET.urlencode %}">{{i}}</a>
              </li>
        
        
              {% else %}
              <li class="page-item">
                <a class="page-link " href="{% relative_url i 'page' request.GET.urlencode %}">{{i}}</a>
              </li>
        
              {% endif %}
              {% endfor %}
              {% if page_obj.has_next %}
              <li class="page-item">
                <a class="page-link" tabindex="-1"
                  href="{% relative_url page_obj.next_page_number 'page' request.GET.urlencode %}">Next</a>
              </li>
              {% endif %}
            </ul>
          </nav>
        </div>
        {% endif %}
        
        </div>
  </div>

{%endif%}  
</div>



<!-- Contact section start -->
<div data-aos="fade-up" class='mt-3 altContSec ' style="">
  <div class="container mx-auto py-5 contact_section " >
    <div class="row d-flex justify-content-center px-0" >
      <div class="col-12">
        <p class="text-lead text-light" style="font-weight:700">Want to know more?</p>
        <h2 class="heading pb-4" style="color:#00CE8D;"><span class="text-light">Contact us</span> today</h3>
        <div class="d-md-flex d-block gap-3">
              <a href="tel://+44 7788 258827"> <button type="button" class="btn p-2 my-2 cont-sec" style="border-radius: 0;"><i class="fa fs-5 fa-phone px-2"></i>Call Us</button></a>
              <a href="https://api.whatsapp.com/send?phone=+447788258827&text=Hi%2C I enquired through the LPC-Invest website and am interested in your project" target="_blank">
                  <button type="button" class="btn p-2 my-2  cont-sec" style="border-radius: 0;"><i class="fa fs-5 fa-whatsapp px-2"></i>whatsapp</button></a>
              
              <a href="mailto:info@lpcinvest.com"><button type="button" class="btn cont-sec my-2 p-2" style="border-radius: 0;"><i class="fa fs-5 fa-envelope px-2"></i>Email</button></a>
              <a href="https://lpcinvest.pipedrive.com/scheduler/DpedXLfo/book-a-free-consultation-meeting" target="_blank">
              <button type="button" class="btn cont-sec my-2 p-2" style="border-radius: 0;"><i class="fa fs-5 fa-edit px-2"></i>Appointment</button></a>
          </div>
      </div>
    </div>
  </div>
  </div>
  <!-- Contact section End -->


<!--Download Guide section Start  -->
<div class="my-5" style="box-shadow:0 0 10px rgba(0,0,0,0.2); background-image:url("{% static 'img/modal_image.jpg' %}");
background-position:center;bacground-repeat:no-repeat;background-attachment:center; background-size:100%;">
<div class="container" >
  <div class="row d-flex justify-content-around p-3" >
    <div class="col-12 col-lg-6 p-3">
      <p class="text-lead text-light">Want Invest Today</p>
      <h3 class="display-5 pb-4" style="color:#00CE8D;">Why buy in {{property.get_city_display | title }} ?</h3>

      <p class="lead pb-3 text-dark">
        {{property.get_city_display | title }} has become the UK’s second city and is one of the country’s
        top property markets. This great city has built on its industrial
        revolution foundations to become a truly global, 21st-century destination
        for people, businesses and investors from around the world.

        Major regeneration projects, rapid population growth and an economy
        growing faster than the national average have contributed to an exciting,
        vibrant city that has grabbed the limelight. Unprecedented growth in the
        housing market has followed naturally – making this the perfect time to
        invest in {{property.get_city_display | title }} property and take advantage of its reliability and
        long-term growth prospects.
      </p>
      <button type="button" class="btn cont-sec px-3 py-2 fs-5"  data-bs-toggle="modal" data-bs-target="#downloadFrom"><i class="fa fs-5 fa-download px-2"></i>Download Guide</button>
    </div>
    <div class="d-md-none d-lg-block col-lg-5 p-5">
      <img class="img-fluid object-fit-cover h-100 rounded" style="box-shadow:0 0 10px rgba(0,0,0,0.5); transform:rotate(-10deg);object-fit:cover;" src="{% static 'img/modal_image.jpg' %}"/>
    </div>
  </div>
</div>
</div>
<!--

{%endblock body%} {% block script %} {% endblock script %}
