{% extends 'user/basic.html' %} {% load static %} {% block title %}
City-Guide{{page_data.page_name}}{% endblock title%} {% block css %}
<style>
  .counter-box-1 p {
    font-size: 14px;
  }
</style>

{% endblock css %} {% block body %}

<!-- Banner start -->
<div class="banner" id="banner">
  <div
    id="bannerCarousole"
    class="carousel slide carousel-fade"
    data-bs-touch="false"
  >
    <div class="carousel-inner">
      <div
        class="bg-dark altCar"
        style="height: 100vh; background-color: black"
      >
        <!-- <div class="carousel-item active" data-bs-interval="6000">
                    <img src="/static/img/background-index/1.jpg" class="d-block " alt="...">
                </div>
                <div class="carousel-item" data-bs-interval="6000">
                    <img src="/static/img/background-index/2.jpg" class="d-block " alt="...">
                </div>
                <div class="carousel-item" data-bs-interval="6000">
                    <img src="/static/img/background-index/3.jpg" class="d-block " alt="...">
                </div> -->
        <video
          style="width: 100%; height: 100%; object-fit: cover; opacity: 0.5"
          autoplay
          muted
          loop
        >
          <source
            src="/static/img/Free 4K Stock Videos & Full HD Video Clips to Download.mp4"
            type="video/mp4"
          />
          Your browser does not support the video tag.
        </video>
      </div>
      <div class="carousel-caption d-flex h-100">
        <div class="carousel-content container">
          <div class="text-center bi-3">
            <div class="clearfix">
              <h3 class="text-capitalize display-2">Bradford</h3>
              <h4 class="text-capitalize fs-2 fw-bold text-light">
                City Guide
              </h4>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Banner end -->

<section class="py-2 bg-light text-start mt-3 bg-light" id="next">
  <div class="about-real-estate content-area-5 bg-grea-3">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 order-1 order-lg-1">
          <h2 class="heading text-capitalize">
            Why <span style="color: #00ce8d">Bradford?</span>
          </h2>
          <div class="about-text clearfix">
            <p>
              Bradford is an up-and-coming UK Northern city, which was recently
              voted as the UK’s 2025 City of Culture. It is rapidly growing in
              its appeal to the world due to its huge potential as an economic
              hub. It is not only a great place to live, but also an ideal base
              for investors when purchasing a buy-to-let property.
            </p>
            <p>
              Set in a region renowned for its natural beauty, the city is now
              rapidly growing as a student epi-center. Furthermore, first-time
              buyers can benefit from Bradford’s abundance of affordable
              properties on offer. As part of its journey to becoming a City of
              Culture in 2025, the city itself has already been designated as a
              UNESCO City of Film. This is a product of its strong industrial
              roots, youthful population and welcoming business climate. All
              these factors make Bradford one of England's most promising cities
              and a hotspot for property investment.
            </p>
            <p>
              Bradford is one of the most culturally-rich cities in the UK, and
              it is also one of the fastest growing with a population of more
              than 546,000 people, according to the 2022 Census. Additionally,
              Bradford’s population is young and ever-growing with its size
              increasing by 25.8% alone in 2022. A statistic that is only
              expected to grow further within the coming years.
            </p>
          </div>
        </div>
        <div
          class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 order-3 order-lg-2"
        >
          <div class="about-img-section">
            <div class="image-box sssa mt-3">
              <div class="image-1">
                <img
                  src="{% static 'img/cities/4.jpg' %}"
                  class="w-100"
                  alt="photo"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 order-2 order-lg-3">
          <div class="about-text clearfix">
            <p>
              This, further highlights the demand for housing in the city,
              especially given the 15.4% rise in households that need homes
              during 2022. It is projected that the population of Bradford will
              increase by over 20,000 (3.7%) by the end of the decade, resulting
              in a significant growth in demand for buy-to-let housing in the
              area.
            </p>
            <p>
              Approximately, £145,000 is the average price of a property in the
              city, according to Rightmove. Moreover, Bradford was named a
              property hotspot for 2021, with a rental yield of 11.6%, exceeding
              all other UK cities in 2022. JLL predicts that Bradford, as part
              of Yorkshire, will see a 21% increase in house prices by 2026,
              making it ideal for homebuyers and investors in buy-to-let
              properties.

              <span class="d-block py-2">
                We'll help you every step of the way, from finding the right
                property to ensuring it's a profitable investment.
              </span>
              <strong>Contact us today to learn more!</strong>
            </p>
            <a href="#contS" class="btn cont-sec rounded-0">Contact Us</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="services mt-5 bg-light" data-aos="fade-up">
    <div class="container">
      <!-- Main title -->
      <div class="main-title text-center mt-5">
        <h2 class="heading fs-1 pt-5 text-capitalize">
          Bradford's City Centre
          <span style="color: #00ce8d">Development Plans</span>
        </h2>
      </div>
      <div class="row">
        <div class="col-12 text-center pb-3">
          <p>
            More than £500 million has already been invested in Bradford to
            boost its economy. With a further £200 million being dispersed
            throughout the regional district.
          </p>
          <p>
            As part of the new regeneration projects in 2020, £75 million has
            been pledged to attract the next generation of urban entrepreneurs
            to the city. The project can be divided into sub-projects, which
            illustrate the changes that will be made in the short to medium
            term.
          </p>
        </div>
        <div class="col-12 col-lg-6 p-2 d-flex align-items-center order-lg-2">
          <img src="static/img/development.svg" class="w-100" />
        </div>
        <div class="col-12 col-lg-6 d-flex align-items-center order-lg-1">
          <ul class="list-group shadow">
            <li
              class="list-group-item list-group-item-info d-flex gap-1 align-items-center"
            >
              <i class="fa fa-check text-success fw-bold fs-2 pe-3"></i
              >Redevelopment of the Odeon cinema into Bradford Live - £12
              million
            </li>
            <li
              class="list-group-item list-group-item d-flex gap-1 align-items-center"
            >
              <i class="fa fa-check text-success fw-bold fs-2 pe-3"></i>The
              relocation of the city centre markets at a value of £9.4 million.
            </li>
            <li
              class="list-group-item list-group-item-info d-flex gap-1 align-items-center"
            >
              <i class="fa fa-check text-success fw-bold fs-2 pe-3"></i
              ><span class="border-left-2 border-dark"
                >Redevelopment of the Top of the Town residential area into a
                city village - £3 million</span
              >
            </li>
            <li
              class="list-group-item list-group-item d-flex gap-1 align-items-center"
            >
              <i class="fa fa-check text-success fw-bold fs-2 pe-3"></i>Creating
              Grade-A office space at One City Park - £25.3 million.
            </li>
            <li
              class="list-group-item list-group-item-info d-flex gap-1 align-items-center"
            >
              <i class="fa fa-check text-success fw-bold fs-2 pe-3"></i>The
              restoration and regeneration of St George's Hall - £8.9 million.
            </li>
          </ul>
        </div>
        <div class="col-12 text-center pb-3 order-3 my-4">
          <p>
            This highlights the potential growth and opportunities that are to
            be expected in the future of Bradford. Moreover, a number of
            residential developments will also boost the urban quality of life
            within the city. Queen Victoria Chambers, for instance, offers 40
            spacious apartments alone. This presents an exceptional opportunity
            for property investors who want to invest in a city with shimmering
            prospects and those who wish to enjoy high yields.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Investment areas strat -->

<div
  class="services mt-5 lpcTod pb-5 pt-3"
  data-aos="fade-up"
  style="
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
      url('/static/img/cities/4.jpg') no-repeat;
    background-size: cover;
  "
>
  <div class="container">
    <!-- Main title -->
    <div class="main-title text-center mt-5">
      <h2 class="heading text-light pt-5">
        Bradford's Best <span style="color: #00ce8d">Investment Areas</span>
      </h2>
    </div>
    <div class="row mb-4">
      <div class="col-lg-6 col-md-12 mb-4">
        <div class="service-info-3 d-flex bg-light shadow-sm h-100 rounded">
          <div class="detail pt-3">
            <h3 class="fw-bold" style="color: #00ce8d">Bradford City Centre</h3>
            <p>
              There are several great places to buy property in Bradford that
              are within ten minutes of the University or the City’s Center. It
              is evident that Bradford's BD1 postcode offers yields of up to 10%
              - the third-best in the UK - due to its popularity with students
              and young professionals looking for inner-city living.
            </p>
            <p>
              Another top 10 buy-to-let hotspot in the city centre is Little
              Germany, an area of historical and architectural interest and
              popularity. Over 110 businesses and organisations are located in
              Bradford's busiest commercial area, which contains 55 listed
              buildings presenting their historical and architectural
              significance.
            </p>
            <p>
              Property prices in the BD1 area currently average at £59,390, with
              the majority of sales in the past year being flats at £51,350.
            </p>

            <!-- <h4 style="font-weight:700!important;">01</h4> -->
          </div>
        </div>
      </div>

      <div class="col-lg-6 col-md-12 mb-4">
        <div class="service-info-3 d-flex bg-light shadow-sm h-100 rounded">
          <div class="detail pt-3">
            <h3 class="fw-bold" style="color: #00ce8d">Manningham Bradford</h3>
            <p>
              Located in the inner-city suburbs, Manningham has some of
              Bradford's cheapest properties. It's home to a wealth of
              industrial history, including mill buildings, wool merchants'
              houses and further, terraced houses. Bradford's outstanding’
              Grammar School is also situated on the northeast edge of this
              suburb, where many of the old mill buildings are being converted
              into luxury flats, perfect for families and young professionals
              entering the city.
            </p>
            <p>
              The average price of properties in Manningham last year was
              £91,950, while terraced properties sold for an average of £80,479
              on average.
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-6 col-md-12 mb-4">
        <div class="service-info-3 d-flex bg-light shadow-sm h-100 rounded">
          <div class="detail pt-3">
            <h3 class="fw-bold" style="color: #00ce8d">East Bradford</h3>
            <p>
              Thornbury, Laisterdyke, Greengates, Apperley Bridge and
              Ravenscliffe can be located in this area and all offer easy access
              to Leeds and the center of Bradford. It is the ideal location for
              those working either, close to Leeds or, Bradford itself.
            </p>
            <p>
              In Ravenscliffe, semi-detached properties sold for an average
              price of £218,165 in 2022 while properties in Thornbury sold for
              an average price of £95,000 last year.
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-6 col-md-12 mb-4">
        <div class="service-info-3 d-flex bg-light shadow-sm h-100 rounded">
          <div class="detail pt-3">
            <h3 class="fw-bold" style="color: #00ce8d">South Bradford</h3>
            <p>
              A variety of properties are further available in the southern
              suburbs of Bradford, including apartments in areas such as West
              Bowling, Wibsey, and Low Moor.
            </p>
            <p>
              Over the last year, the average price of properties in West
              Bowling was £93,430. With proces reaching £143,487 in Low Moor.
              Making it one of the most lucrative investment ventures to dive
              into!
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Investment areas End -->

<!-- Contact section start -->
<div data-aos="fade-up" class="mt-3 altContSec" id="contS">
  <div class="container mx-auto py-5 contact_section">
    <div class="row d-flex justify-content-center px-0">
      <div class="col-12">
        <p
          class="text-lead text-light text-capitalize"
          style="font-weight: 700"
        >
          Want to know more?
        </p>
        <h2 class="heading pb-4 text-capitalize" style="color: #00ce8d">
          <span class="text-light">Contact us</span> today
        </h2>
        <div class="d-md-flex d-block gap-3">
          <a href="tel://+44 7788 258827">
            <button
              type="button"
              class="btn p-2 my-2 cont-sec"
              style="border-radius: 0"
            >
              <i class="fa fs-5 fa-phone px-2"></i>Call Us
            </button></a
          >
          <a
            href="https://api.whatsapp.com/send?phone=+447788258827&text=Hi%2C I enquired through the LPC-Invest website and am interested in your project"
            target="_blank"
          >
            <button
              type="button"
              class="btn p-2 my-2 cont-sec"
              style="border-radius: 0"
            >
              <i class="fa fs-5 fa-whatsapp px-2"></i>Whatsapp
            </button></a
          >

          <a href="mailto:info@lpcinvest.com"
            ><button
              type="button"
              class="btn cont-sec my-2 p-2"
              style="border-radius: 0"
            >
              <i class="fa fs-5 fa-envelope px-2"></i>Email
            </button></a
          >
          <a
            href="https://lpcinvest.pipedrive.com/scheduler/DpedXLfo/book-a-free-consultation-meeting"
            target="_blank"
          >
            <button
              type="button"
              class="btn cont-sec my-2 p-2"
              style="border-radius: 0"
            >
              <i class="fa fs-5 fa-edit px-2"></i>Appointment
            </button></a
          >
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Contact section End -->

{%endblock body%}
