{% extends 'user/basic.html' %} {% load static %} {% block title %} Contact Us{% endblock title%} {% block css %} 

<style>
    p{
        font-weight: 700 !important;
    }
    .success-msg{
      display: none;
    }
    .w-form-done{
      background-color: #00CE8D;
    }
</style>

{% endblock css %} {% block body %}
<!-- Sub banner start -->
<!-- <div class="sub-banner">
  <div class="container">
    <div class="breadcrumb-area">
      <ul class="breadcrumbs">
        <li><a href="/">Home</a></li>
        <li class="active">Contact Us</li>
      </ul>
    </div>
  </div>
</div> -->


<section class="site-hero overlay" style="background-image: url('static/img/background-index/2.jpg')">

    <div class="container">
    <div class="row site-hero-inner justify-content-center align-items-center">
      <div class="col-md-10 text-center" data-aos="fade-up">
  
        <div class="text-center">
          <h1 class="heading">Contact Us</h1>
        </div>
  
      </div>
    </div>
  </div>
  
  </section>



<!-- Sub Banner end -->
<div class="row my-5 mx-0">
<div class="contact-2 content-area-17 mb-5 pb-5">
    <div class="container">
        <!-- Main title --><div class="main-title text-center">
            <h1>Contact Us</h1>
            <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p> -->
        </div>
            <div class="row g-0 contact-innner">
                <div class="col-lg-7">
                    <form action="/pipedrive-responses" id="contact us form">
                        <div class="form-group">
                          <label for="uname">Name:</label>
                          <input type="text" class="form-control" id="uname" placeholder="Enter Full Name" name="name" required>
                          
                
                        </div>
                        <div class="form-group">
                          <label for="email">Email:</label>
                          <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
                         
                          
                        </div>
                        <div class="form-group">
                          <label for="phone">Phone Number:</label>
                          <input type="number" class="form-control" id="phone" placeholder="Enter Phone Number" name="phone">
                         
                          
                        </div>

                        <div class="form-group form-check">
                          <label class="form-check-label d-block">
                            <input class="form-check-input" type="checkbox" value="First Time Investor" name="chk" > First Time Investor
                          </label>  
                          <label class="form-check-label d-block">
                            <input class="form-check-input" type="checkbox" value="Investor" name="chk" > Investor
                          </label>
                          <label class="form-check-label d-block">
                            <input class="form-check-input" type="checkbox" value="Owner Occupier" name="chk" > Owner Occupier
                          </label>
                          <label class="form-check-label d-block">
                            <input class="form-check-input" type="checkbox" value="Sourcing Agent" name="chk" > Sourcing Agent
                          </label>
                        </div>
                        <div class="form-group">
                          <label for="comment">Message(optional):</label>
                          <textarea class="form-control" rows="5" id="comment"></textarea>
                        </div>

                        <button type="submit" class="btn cont-sec wait">Submit</button>
                      </form>
                      
                      <div class="align-items-center h-100 success-msg ">
                        <div class="w-form-done fw-bold p-2 w-100 fs-6 text-light text-center rounded shadow-lg">
                          Thank you for your Interest. <span class="block text-white">We will contact you soon.</span>
                        </div>
                      </div>
                      <div class="loader"></div>

                    <div class="pipedriveWebForms d-none" data-pd-webforms=https://webforms.pipedrive.com/f/5VJtmmm0Bokw4VROSeceSIwHq8toxTB1PagJZHJpJSiuelBP8PrMteXLYtDTUYEpCr><script src=https://webforms.pipedrive.com/f/loader></script></div>
                </div>
                <div class="col-lg-5">
                    <div class="contact-info">
                        <h3 class="mb-20">Contact Info</h3>
                        <div class="ca-box d-flex mb-30">
                            <i class="flaticon-pin me-3"></i>
                            <div class="detail">
                                <h5>Address</h5>
                                <p> Regus Digital World, 1 Lowry Plaza, The Quays, Salford M50 3UB</p>
                            </div>
                        </div>
                        <div class="ca-box d-flex mb-30">
                            <i class="flaticon-phone me-3"></i>
                            <div class="detail">
                                <h5>Phone Number</h5>
                                <p><a href="tel: 0161 713 3883"> 0161 713 3883</a></p>
                            </div>
                        </div>
                        <div class="ca-box d-flex mb-30">
                            <i class="flaticon-mail me-3"></i>
                            <div class="detail">
                                <h5>Email Address</h5>
                                <p><a href="mailto:info@lpcinvest.com"> info@lpcinvest.com</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>
</div>
<!-- Google map start -->
<div class="section contact-2-map d-none mt-5">
    <div class="map">
        <div id="map" class="contact-map"></div>
    </div>
</div>
<script>
       const divs = document.querySelectorAll('.sc-evZas eHMnjR');
    divs.forEach(el => el.addEventListener('click', event => {
        e.preventDefault();
        console.log('click..')
        fbq('track', 'Lead');
    }))
</script>

<script async>
    let allSubs = document.getElementsByClassName("sc-evZas eHMnjR");
    allSubs = [...allSubs];
    allSubs.map((ini)=>{
    ini.addEventListener("click", function(){
        e.preventDefault();
      fbq('track', 'Lead');
      console.log("1");
    });
    })
    </script>

<!-- New form script -->
<script>
  function convertFormToJSON(form) {
 var array = $(form).serializeArray();
 var json = {};
 $.each(array, function () {
   json[this.name] = this.value || "";
 });
 return json;
 }
 
   
 $('form[action="/pipedrive-responses"]').each(function (i, el) {
var form = $(el);
form.submit(function (e) {
 e.preventDefault();
 
 var parent = $(form.parent());
$('.wait').prop('disabled', true);
$('.wait').html("Please Wait...");
 parent.children("form").fadeTo(1000, 0.4);
 parent.children('.loader').css('display', 'block');

 form = $(e.target);
 var data = convertFormToJSON(form);
 
 var investarray = [];
 var checkboxes = $('input:checkbox[name=chk]:checked').each(function(){
 investarray.push($(this).val());
 });
 
 data.investor_type= investarray;
 data.id=e.target.id;
 data.property_name=e.target.id;
 data.source = e.target.id + "website";
	const d = new Date();
 data.date = d.toLocaleDateString("en-US"); 
 
 fetch("https://www.lpcinvest.com/ads/send-pipedrive-json", {
method: "POST",
headers: {
 "Content-Type": "application/json",
},
body: JSON.stringify(data),
})
.then((response) => {
 if (response.ok) {
   console.log("success");
   var parent = $(form.parent());
   // Hide the form
   parent.children("form").css("display", "none");
   // Display the "Done" block
   parent.children(".success-msg").css("display", "flex");
   $('.wait').prop('disabled', false);
   $('.wait').html("Submit");
    parent.children(".loader").css("display", "none");
   fbq('track', 'Lead');
   return response.json();
 }
})
.then((response) => console.log(JSON.stringify(response)));

 console.log("inFunction");     
 
});
});
</script>
<!-- New Form Script End -->

{%endblock body%} 

{% block script %} 

{% endblock script %}
