{% extends 'user/basic.html' %} {% load static %}
 {% block title %} Download{{page_data.page_name}}{% endblock title%} {% block css %} {% endblock css %} 
 {% block body %}


<!-- Banner start -->
<div class="banner" id="banner">
  
    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item item-bg active">
                <img class="d-block w-100 h-100 ratioCar" src="/static/img/background-index/1.jpg" alt="banner">
                <div class="carousel-caption banner-slider-inner d-flex h-100 text-start">
                  <div class="carousel-content container align-self-center">
                    <div class="banner-info2">
                        <div class="text-l text-center">
                            <h3 class="text-uppercase">Download</h3>
                        </div>
                    </div>
                </div>
                </div>
            </div>
            <div class="carousel-item item-bg">
                <img class="d-block w-100 h-100 ratioCar" src="/static/img/background-index/2.jpg" alt="banner">
                <div class="carousel-caption banner-slider-inner d-flex h-100 text-start">
                    <div class="carousel-content container align-self-center">
                      <div class="banner-info2">
                        <div class="text-l text-center">
                            <h3 class="text-uppercase">Download</h3>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item item-bg">
                <img class="d-block w-100 h-100 ratioCar" src="/static/img/background-index/3.jpg" alt="banner">
                <div class="carousel-caption banner-slider-inner d-flex h-100 text-start">
                  <div class="carousel-content container align-self-center">
                    <div class="banner-info2">
                      <div class="text-l text-center">
                          <h3 class="text-uppercase">Download</h3>
                      </div>
                  </div>
                  </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev" style="top:45%">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next" style="width:15%;">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
   
  </div>
  <!-- Banner end -->
  
<!-- Services start -->
<div class="services content-area content-area-12 bg-light mt-3">
    <div class="container">
        <!-- Main title -->
        <div class="main-title">
            <h1>UK Property <span style="color: #00CE8D;">Investment Guides</span></h1>
            <p style="font-weight: 700;">Grab a FREE download of our UK Property Investment Guides, available in an easy to read PDF format.</p>
        </div>

        <div class="slick-slider-area">
        <div class="row">
            {%for city in download_assets %}
            <div class="col-lg-4 col-md-6">
                <div class="slick-slide-item">
                    <div class="card service-box">
                        <img class="card-img-top" src="media/media/1.1.jpg" style="height: 200px;" alt="service">
                        <div class="card-body detail text-center">
                            <div class="heading clearfix">
                                <div class="number">
                                </div>
                                <div class="text-center ">
                                    <h4 style="color:#00CE8D;font-weight:700;" class="mx-auto">{{city.title}}</h4>
                                </div>
                            </div>
                            <p class="text-start" style="font-weight: 700;">{{city.desc}};</p>
                            <a href="{{city.downlodable_url}}" class="font-weight-bold btn cont-sec" style="border-radius: 0;">Download</a>
                        </div>
                    </div>
                </div>
            </div>
                {%endfor%}








      </div>   
    </div>
</div>
<!-- Services end -->

  {%endblock body%}
</div>