{% extends 'user/basic.html' %} {% load static %}
 {% block title %} FAQs{{page_data.page_name}}{% endblock title%} {% block css %} {% endblock css %} 
 
 
 {% block body %}

 <section class="site-hero overlay" style="background-image: url('static/img/background-index/2.jpg')">

    <div class="container">
    <div class="row site-hero-inner justify-content-center align-items-center">
      <div class="col-md-10 text-center" data-aos="fade-up">
  
        <div class="text-center">
          <h1 class="heading">FAQs</h1>
        </div>
  
      </div>
    </div>
  </div>
  
  </section>


<!-- Faqs Start -->
<div class="faq content-area-9 bg-light pt-1 mt-5" data-aos="fade-up">
    <div class="container">
        <!-- Main title -->
        <div class="main-title text-center">
            <h2 class="heading">FAQs</h2>
        </div>
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <div class="faq-accordion accordion accordion-flush faq-accordion" id="accordionFlushExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                Why should I choose LPC?
                            </button>
                        </h2>
                        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <div class="p-text">
                                    LPC Invest has a team of experienced professionals who know the ins and outs of the property market. We provide you with all the tools, resources and advice you need to make smart investments. We have access to exclusive deals on properties you won't find anywhere else and we'll always strive to help you secure the most profitable investments. With LPC Invest you'll never feel alone in the property market – it's an investment journey that is designed carefully just for you.
                                    or
                                    LPC Invest is the perfect choice to make a great investment in the property market. We provide tailored advice and exceptional service that make the process of investing in a property much easier. Our team has years of experience in the property sector and an extensive network of contacts so we can guarantee you access to the best prices for high-yield investments. With our expert guidance, you can rest assured that you’ll be making the best decisions possible for your portfolio.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                                Why should I invest in property?
                            </button>
                        </h2>
                        <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <div class="p-text">
                                    Investing in property can offer you significant returns, with a number of investors receiving returns far greater than those achieved through more traditional investments. The property also offers the added benefit of diversity to your investment portfolio, allowing you to achieve higher returns with lower risk levels. Lastly, investing in property is relatively easy and straightforward if you work with an experienced team like LPC Invest, who can help guide you through the process of creating a successful investment portfolio.
                                    or
                                    Investing in property provides a great opportunity for long-term wealth creation. Property prices tend to appreciate over time, so you can reap healthy rewards from a well-thought-out investment strategy. At LPC Invest, we use our knowledge and experience of the property market to help you make the best investment decisions possible and secure maximum returns on your investments.
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                                Is investing in property safe?
                            </button>
                        </h2>
                        <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <div class="p-text">
                                    Investing in properties is a great way of both increasing your wealth and diversifying your investments. At LPC Invest, we take safety seriously. Our experienced team is here to support you every step of the way, helping you make informed decisions so that you can be confident in making sound investments. We evaluate each property to ensure it meets our high standards before recommending it as an option for investment – giving you added peace of mind and confidence in investing with us.
                                    Though it is vital to note that investing in property carries some level of risk, such as changes in the local economy, changes in the real estate market, and natural disasters or other unforeseen events. It's essential to be aware of these risks and to do proper research and due diligence before making any investment decisions. Additionally, it's important to have a clear strategy and long-term vision in mind.
                                    However, with proper research, due diligence, and a long-term investment strategy, real estate investment can be relatively safe. Additionally, the UK property market has shown steady growth over the years. Hence, owning a rental property can provide a steady stream of rental income, which can help to offset the costs of owning the property.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-heading4">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse4" aria-expanded="false" aria-controls="flush-collapse4">
                                Can I use my solicitor?
                            </button>
                        </h2>
                        <div id="flush-collapse4" class="accordion-collapse collapse" aria-labelledby="flush-heading4" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <div class="p-text">
                                    Of course! You are welcome to use your own solicitor. Our goal here at LPC Invest is to make the process as stress-free as possible and we understand that having someone you know and trust is important. We will be more than happy to work together with them as long as they are a qualified and experienced professional in the field of real estate law.
                                    or
                                    Absolutely! We always recommend that clients use a qualified solicitor to guide them through complex legal processes and ensure that their interests are represented throughout. Your solicitor will provide invaluable advice, conduct property searches, and review the contract for any issues or irregularities. Working with an experienced professional will give you peace of mind in knowing that your best interests are being properly taken care of.
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-heading5">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse5" aria-expanded="false" aria-controls="flush-collapse5">
                                Who will manage my property?
                            </button>
                        </h2>
                        <div id="flush-collapse5" class="accordion-collapse collapse" aria-labelledby="flush-heading5" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <div class="p-text">
                                    There are several options for managing an investment property, including:
                                    <ul class="list-group shadow">
          
          
                                        <li class="list-group-item list-group-item-info d-flex gap-1 align-items-center"><i class="fa fa-check text-success fw-bold fs-2 pe-3" ></i>
                                            Self-management: The property owner manages the property themselves, handling tasks such as tenant screenings, rent collection, and maintenance.                                        
                                        </li>
                                        <li class="list-group-item list-group-item d-flex gap-1 align-items-center"><i class="fa fa-check text-success fw-bold fs-2 pe-3" ></i>
                                            Hiring a property management company: The property owner hires a professional property management company to handle tasks such as tenant screenings, rent collection, and maintenance.
                                        </li>
                                        <li class="list-group-item list-group-item-info d-flex gap-1 align-items-center"><i class="fa fa-check text-success fw-bold fs-2 pe-3" ></i>
                                            Hiring a property manager: The property owner hires a single property manager to handle tasks such as tenant screenings, rent collection, and maintenance.
                                        </li>
                                    </ul> 
                                        Ultimately, the decision of who will manage the property will depend on the property owner's preferences and their level of experience managing properties. It is important to discuss the pros and cons of each option and help the client make an informed decision that best fits their needs.
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-heading5">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse5" aria-expanded="false" aria-controls="flush-collapse5">
                             How long does it take to become a landlord?                            </button>
                        </h2>
                        <div id="flush-collapse5" class="accordion-collapse collapse" aria-labelledby="flush-heading5" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <div class="p-text">
                                    When you buy an investment property, the process of becoming a landlord can vary depending on a number of factors. Here are a few things to consider:
                                    <ul class="list-group shadow">
          
          
                                        
                                        <li class="list-group-item list-group-item d-flex gap-1 align-items-center"><i class="fa fa-check text-success fw-bold fs-2 pe-3" ></i>
                                            Finding tenants: Finding tenants can take anywhere from a few days to a few months, depending on the rental market and the condition of the property.
                                        </li>
                                        <li class="list-group-item list-group-item-info d-flex gap-1 align-items-center"><i class="fa fa-check text-success fw-bold fs-2 pe-3" ></i>
                                            Legal paperwork: Depending on the state and local laws, there may be certain legal paperwork that needs to be completed before a tenant can move in. This can take a few days to a few weeks.
                                        </li>
                                        <li class="list-group-item list-group-item d-flex gap-1 align-items-center"><i class="fa fa-check text-success fw-bold fs-2 pe-3" ></i>
                                            Inspections: Depending on the condition of the property, inspections may be required before a tenant can move in. This can take a few days to a few weeks.
                                        </li>
                                        <li class="list-group-item list-group-item-info d-flex gap-1 align-items-center"><i class="fa fa-check text-success fw-bold fs-2 pe-3" ></i>
                                            Repairs and renovations: If the property needs repairs or renovations before it can be rented, this can take anywhere from a few days to a few months.
                                        </li>
                                        <li class="list-group-item list-group-item d-flex gap-1 align-items-center"><i class="fa fa-check text-success fw-bold fs-2 pe-3" ></i>
                                            Closing on the property: It takes usually around 30-45 days to close on a property after a purchase agreement is signed.
                                        </li>
                                        

                                    </ul> 
                                    Overall, the process of becoming a landlord after buying an investment property can take anywhere from a few weeks to a few months, depending on the factors mentioned above.
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="accordion-item mb-10">
                        <h2 class="accordion-header" id="flush-heading6">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse6" aria-expanded="false" aria-controls="flush-collapse6">
                                What benchmarks does LPC Invest use?                            </button>
                        </h2>
                        <div id="flush-collapse6" class="accordion-collapse collapse" aria-labelledby="flush-heading6" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <div class="p-text">
                                    At LPC Invest, we use verifiable benchmarks to measure progress of our clients' investment objectives. Many portfolios are monitored against the Growth, Balanced and Income benchmark defined by PIMFA (formerly the Wealth Management Association). Using MSCI WMA Private Investor Series, we ensure that these benchmarks give a fair comparison to accurately assess our performance.  With LPC Invest, you can be rest assured that your investments are securely managed and measured against reliable benchmarks.
                                    We prioritize market-linked performance benchmarks when monitoring our clients' investments. We use these benchmarks to measure and track our investments against the expected performance of the markets over a period of three years. This helps us make sure that our clients are consistently getting the best returns possible. Additionally, we also have the flexibility to use actual weightings that may deviate from the benchmark's weights, giving us an even greater level of precision and accuracy in tracking our investments.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Faqs End -->





<!-- Contact section start -->
<div data-aos="fade-up" class="mt-3 altContSec">
    <div class="container mx-auto py-5 contact_section">
      <div class="row d-flex justify-content-center px-0">
        <div class="col-12">
          <p
            class="text-lead text-light text-capitalize"
            style="font-weight: 700"
          >
            Want to know more?
          </p>
          <h2 class="heading pb-4 text-capitalize" style="color: #00ce8d">
            <span class="text-light">Contact us</span> today
          </h2>
          <div class="d-md-flex d-block gap-3">
            <a href="tel://+44 7788 258827">
              <button
                type="button"
                class="btn p-2 my-2 cont-sec"
                style="border-radius: 0"
              >
                <i class="fa fs-5 fa-phone px-2"></i>Call Us
              </button></a
            >
            <a
              href="https://api.whatsapp.com/send?phone=+447788258827&text=Hi%2C I enquired through the LPC-Invest website and am interested in your project"
              target="_blank"
            >
              <button
                type="button"
                class="btn p-2 my-2 cont-sec"
                style="border-radius: 0"
              >
                <i class="fa fs-5 fa-whatsapp px-2"></i>WhatsApp
              </button></a
            >
  
            <a href="mailto:info@lpcinvest.com"
              ><button
                type="button"
                class="btn cont-sec my-2 p-2"
                style="border-radius: 0"
              >
                <i class="fa fs-5 fa-envelope px-2"></i>Email
              </button></a
            >
            <a
              href="https://lpcinvest.pipedrive.com/scheduler/DpedXLfo/book-a-free-consultation-meeting"
              target="_blank"
            >
              <button
                type="button"
                class="btn cont-sec my-2 p-2"
                style="border-radius: 0"
              >
                <i class="fa fs-5 fa-edit px-2"></i>Appointment
              </button></a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Contact section End -->
    
  <!--Download Guide section Start  -->
  {%endblock body%}
</div>
