{% extends 'user/basic.html' %}
{% load static %}

{% block title %} UK Property Investments{% endblock title%}

{% block css %}

<style>

/* .expander{
    overflow:hidden;
    height:500px;
    padding-bottom:60px;
}
.expander p{
    overflow:hidden;
    padding-bottom:100px;
} */

.property-photo img{
    width:400px;height:256px;
}
.slick-slide-item{
    height:400px!important;
}
.contact_section i,button,a{
    font-weight: 700 !important;
}
.service-info-3 h3 p {
    font-weight: 700 !important;
}
.cont-sec:hover strong{
    color:#00CE8D;
}
</style>

{% endblock %}{% block body %}



<!-- Banner start -->
<div class="banner" id="banner">
    <div id="bannerCarousole" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item banner-max-height active item-bg">
                <div id="boxgallery" class="boxgallery" data-effect="effect-1">
                    <div class="panel"><img src="/static/img/background-index/1.jpg" alt="Image 1"/></div>
                    <div class="panel"><img src="/static/img/background-index/2.jpg" alt="Image 2"/></div>
                    <div class="panel"><img src="/static/img/background-index/3.jpg" alt="Image 3"/></div>
                </div>
            </div>
            <div class="carousel-caption d-flex h-100">
                <div class="carousel-content container">
                    <div class="text-center bi-3">
                        <div class="clearfix">
                            <h3 class="text-capitalize">The Perfect Property Opportunities in the UK</h3>
                        </div>
                        <div class="clearfix">                
                        </div>
                        <div class="inline-search-area  clearfix ">
                            <form method='get' action='/search'>
                            <div class="row">
                                <div class="col-md-6 mb-md-0 col-lg-4 search-col">
                                    <select class="selectpicker search-fields" name="type">
                                        <option value="all">Any Type</option>
                                        <option value="buy_to_let">Buy to Let</option>
                                        <option value="buy_to_live">Buy To Live</option>
                                    </select>
                                </div>
                                <div class="col-md-6 mb-lg-0 col-lg-4 search-col">
                                    <select class="selectpicker search-fields" name="status" id="status">
                                        <option value="all" >Any Status</option>
                                        <option value="Completed">Completed</option> 
                                        <option value="Off plan">Off Plan</option> 
                                    </select>
                                </div>
                               
                                <div class="col-md-6 col-lg-4 align-self-end search-col">
                                    <button class="btn cont-sec btn-search w-100">
                                        <strong>Search</strong>
                                    </button>
                                </div>
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner end -->


      </div>

    
    </section>





<!-- Banner end -->

<!-- Welcome section Start -->

<section class="py-5 bg-light">
    <div class="container">
      <div class="row align-items-start">
        <div class="col-md-12 col-lg-7 ml-auto order-lg-2 position-relative mb-2 ms-2" data-aos="fade-up">
          <img src="media/media/1.1.jpg" alt="Image" class="img-fluid rounded">
        </div>
        <div class="col-md-12 col-lg-4 order-lg-1 text-start" data-aos="fade-up">
          <h2 class="heading fs-1">Welcome to <span style="display: block;color:#00CE8D">LPC Invest!</span></h2>
            
            <p class="mb-0 " style="font-weight: 700;">LPC Invest is an innovative Property Investment company based in Manchester, presenting an exceptional portfolio of exclusive and recently completed properties across the North-West, UK.</p>
                <p class="mb-0 " style="font-weight: 700;">We specialise in serving homebuyers, first time property investors and portfolio extenders looking for the perfect and most profitable property. LPC Invest’s team has a collective 62 years of market wide experience to assist you in finding the ideal investment. We have a deep knowledge of the market and its current trends.  </p> </div>
        
      </div>
      <div class="row">
        <div class="col-12 text-start">
            <p class="mb-4 " style="font-weight: 700;">Our experienced, dynamic and progressive team will support you in reaching your property investment goals.
                LPC Invest hold access to the UK's most lucrative and exciting property investment opportunities, all delivered by established and award-winning developers. 
                Our responsibility is to ultimately relieve investors' decision-making anxiety and assist them from beginning to end, easing property investment complexities.
                Start your journey with us and get more from your investments.
                
            </p>
            <p><a href="/about" class="btn btn-primary text-white py-2 mr-3 cont-sec rounded-0">Learn More</a></p>
    
        </div>
      </div>
    </div>
  </section>
<!-- Welcome section End -->




<!-- Featured properties start -->
<div class="featured-car-section pt-2 comon-slick content-area bg-light mt-5" data-aos="fade">
    <div class="container">
        <!-- Main title -->
        <div class="main-title-5">
            <h2 class="heading pt-0">Featured <span style="color:#00CE8D">Properties</span></h2>
            <div class="title-border">
                <div class="title-border-inner"></div>
                <div class="title-border-inner"></div>
                <div class="title-border-inner"></div>
            </div>
        </div>

        <div class="slick row" data-slick='{"slidesToShow": 3, "responsive":[{"breakpoint": 1024,"settings":{"slidesToShow": 2}}, {"breakpoint": 768,"settings":{"slidesToShow": 1}}]}'>
            {%for property in properties %}
            <div class="item" style="font-weight: 700!important;">
                <div class="property-box-3">
                    <img src="/media/{{property.image}}" alt="photo" class="img-fluid w-100" style="height: 350px;">
                    <div class="ling-section">
                        <h3 style="font-weight: 700!important;">
                            <a href="/properties/{{property.title}}/{{property.id}}">{{property.title}}</a>
                        </h3>
                        <ul class="member-socials clearfix" style="margin:0px;">
                            <li style="font-weight:700;">
                                <i class="fa fa-map-marker"></i> {{property.city | title}}
                            </li>
                        </ul>
                        {%if property.yields %}
                        <ul class="member-socials clearfix" style="margin:0px;">
                            <li style="font-weight:700 !important;">
                                <i class="fa fa-info-circle"></i> Net Yields: {{property.yields}}
                            </li>
                        </ul>
                        {%endif%}
                        <ul class="member-socials clearfix d-block" style="margin:0px;">
                            <li  style="font-weight: bolder;font-weight: 700;">
                                <span style="color: #00CE8D;font-weight:bolder;font-size: 15px;">From </span> £{{property.price}}
                            </li>
                        </ul>
                        <a href="/properties/{{property.title}}/{{property.id}}" class="read-more-btn">Read More</a>
                    </div>
                </div>
            </div>
            {%endfor%}

        </div>
        <div class="col-12 d-flex justify-content-center justify-content-lg-end mb-1">
            <a href="/all-properties" class="btn-4 mx-auto">See More</a>
        </div>
    </div>
</div>

<!-- Featured properties end -->


<!-- Services start -->
<div class="services mt-5 bg-light" data-aos="fade-up">
    <div class="container">
        <!-- Main title -->
        <div class="main-title text-center mt-5">
            <h2 class="heading pt-5">Prosper with <span style="color:#00CE8D">LPC Invest</span></h2>
            <p style="font-weight:700!important;">Grow a highly profitable property portfolio that delivers steady & regular dividends</p>
        </div>
        <div class="row">
            
            <div class="col-lg-4 col-md-12">
                <div class="service-info-3 d-flex">
                    <div class="icon">
                        <i class="flaticon-user"></i>
                    </div>
                    <div class="detail align-self-center">
                        <h3>
                            <p style="color:#00CE8D" style="font-weight:700!important;">Highly Experienced Team</p>
                        </h3>
                        <p style="font-weight:700!important;"> Seasoned property experts with over 60 years of knowledge and skills.
                        </p>
                        <h4 style="font-weight:700!important;">01</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="service-info-3 d-flex">
                    <div class="icon">
                        <i class="flaticon-empire-state-building"></i>
                    </div>
                    <div class="detail align-self-center">
                        <h3>
                            <p style="color:#00CE8D"style="font-weight:700!important;">Bespoke Solutions for Unique Requirements</p>                    
                        </h3>
                        <p style="font-weight:700!important;">Offering completely personalised services for specific goals, LPC Invest tailors the experience to all of its individual clients.</p>                 
                      
                        <h4 style="font-weight:700!important;">02</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="service-info-3 d-flex">
                    <div class="icon">
                        <i class="flaticon-discount"></i>
                    </div>
                    <div class="detail align-self-center">
                        <h3>
                            <p style="color:#00CE8D">Premium & Exclusive Property Opportunities</p>
                        </h3>
                        <p style="font-weight:700!important;"> A vast offer of handpicked developments in the UK's top performing cities is available here at LPC Invest. We also hold exclusive access to properties that are not on any online portals or even on our website.</p> 
                        <h4 style="font-weight:700!important;">03</h4>
                    </div>
                    </div>
                </div>
            </div>
        </div>
</div>
<!-- Services end -->

<!-- Popular places section strat -->
<div class="popular-places-section mt-5 content-area-7 pt-3 bg-light" data-aos="fade-up">
    <div class="container">
        <!-- Main title -->
        <!-- Main title -->
        <div class="main-title-5 ">
            <h2 class="heading pt-0">Most Popular <span style="color:#00CE8D">Places</span></h2>
            <div class="title-border">
                <div class="title-border-inner"></div>
                <div class="title-border-inner"></div>
                <div class="title-border-inner"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-7 col-md-12 col-sm-12">
                <div class="row">

                    <div class="col-sm-6">
                        <div class="popular-places">
                            <div class="popular-places-inner">
                                <div class="popular-places-overflow">
                                    <div class="popular-places-photo">
                                        <img class="img-fluid w-100" src="{% static 'img/cities/1.jpg' %}"
                                            alt="properties">
                                    </div>
                                    <div class="info">
                                        <h3>
                                            <a href="/city/manchester">Manchester</a>
                                        </h3>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="popular-places">
                            <div class="popular-places-inner">
                                <div class="popular-places-overflow">
                                    <div class="popular-places-photo w-100">
                                        <img class="img-fluid" src="{% static 'img/cities/2.jpg' %}" alt="properties">
                                    </div>
                                    <div class="info">
                                        <h3>
                                            <a href="/city/liverpool">Liverpool</a>
                                        </h3>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="popular-places">
                            <div class="popular-places-inner">
                                <div class="popular-places-overflow">
                                    <div class="popular-places-photo">
                                        <img class="img-fluid w-100" src="{% static 'img/cities/3.jpg' %}" alt="properties">
                                    </div>
                                    <div class="info">
                                        <h3>
                                            <a href="/city/birmingham">Birmingham</a>
                                        </h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="popular-places">
                            <div class="popular-places-inner">
                                <div class="popular-places-overflow">
                                    <div class="popular-places-photo w-100">
                                        <img class="img-fluid" src="{% static 'img/cities/4.jpg' %}" alt="properties">
                                    </div>
                                    <div class="info">
                                        <h3>
                                            <a href="/city/bradford">Bradford</a>
                                        </h3>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-12 col-sm-12">
                <div class="popular-places">
                    <div class="popular-places-inner">
                        <div class="popular-places-overflow">
                            <div class="popular-places-photo">
                                <div class="popular-places-photodd">
                                    <img class="img-fluid big-img w-100" src="{% static 'img/cities/5.jpg' %}"
                                        alt="properties">
                                </div>
                            </div>
                            <div class="info">
                                <h3>
                                    <a href="/city/london">London</a>
                                </h3>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Popular places section d -->


<div class="row bg-light pt-2 mx-0 mt-3">
<div class="container section blight mb-0">
    <div class="row justify-content-center text-center pt-0 mx-0">
      <div class="col-md-7" data-aos="fade-up">
        <h2 class="heading pt-0">Meet The <span style="color: #00CE8D;">LPC Invest Team</span></h2>
      </div>
  </div>
  
    <div class="row mx-0 px-2">
    {%for member in team_members %}        
      <div class="col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="100">
        <div class="block-2">
          <div class="flipper">
            <div class="front" style="background-image: url('media/{{member.image}}');">
              <div class="box">
                <h2 class="text-capitalize" style="font-weight:700!important;">{{member.name}}</h2>
                <p class="text-capitalize" style="font-weight:700!important;">{{member.role}}</p>
              </div>
            </div>
            <div class="back">
              <!-- back content -->
              <blockquote class="my-5"><p style="font-size: 14px;font-weight:700!important;">{{member.desc}}</p>
              </blockquote>
              <div class="author d-flex">
                <div class="image mr-3 align-self-center">
                  <img src="/media/{{member.image}}" alt="">
                </div>
                <div class="name align-self-center text-capitalize" style="font-weight:700!important;">{{member.name}} 
                    <span class="position text-capitalize"style="font-weight:700!important;">{{member.role}}</span></div>
              </div>
            </div>
          </div>
        </div> <!-- .flip-container -->
      </div>
      {%endfor%}
        <div class="col-12 d-flex justify-content-center justify-content-lg-end">
         <a href="/about/team" class="btn cont-sec" style="border-radius: 0%; width:200px">See More</a>
        </div>
    </div>
</div>
</div>

<!-- Our team end -->

<!-- Testimonial start -->
<div class="testimonial comon-slick content-area-5" 
    style="background: url(static/img/img-1.jpg) rgba(0,0,0,0.5); background-size: cover; background-repeat: no-repeat; background-attachment:fixed;">
    <div class="container">
:  <div class="row">
            <div class="col-lg-4 align-self-center">
                <!-- Main title -->
                <div class="main-title main-title-6">
                    <h1>Our Testimonial</h1>
                    <p>WHAT OUR CLIENTS SAY ABOUT US (TRUSTPILOT )</p>
                    <a href="https://uk.trustpilot.com/review/lpcinvest.com" class="btn-4 none-btn-992">Read More <i class="fa fa-angle-double-right"></i></a>                </div>
            </div>
            <div class="col-lg-7 offset-lg-1">
                <div class="slick row comon-slick-inner" data-slick='{"slidesToShow": 2, "responsive":[{"breakpoint": 1024,"settings":{"slidesToShow": 2}}, {"breakpoint": 768,"settings":{"slidesToShow": 1}}]}'>
                    <div class="item slide-box">
                        <div class="testimonial-info-box">
                            <h5>
                                <a>Haneen</a>
                            </h5>
                            <h6>Great team at LPC</h6>
                            <p><i class="fa fa-quote-left"></i> I had a great experience with LPC Invest, they were with me in every step, from searching for property all the way to exchanging contract. They assigned me a dedicated team to guide me through the process and answer any questions I had <i class="fa fa-quote-right"></i></p>
                        </div>
                    </div>
                    <div class="item slide-box">
                        <div class="testimonial-info-box">
                           
                            <h5>
                                <a>Lawrence Kok</a>
                            </h5>
                            <h6>A very good experience with LPC Invest</h6>
                            <p><i class="fa fa-quote-left"></i> It has been a very good experience with LPC Invest. I talked with Ben Johnson and he together with his colleague Jennifer Iftakhar provided me property advice and introduced me to a good reputable solicitor. They have been very nice and helpful. I thank them both very much for their excellent service. I highly recommend anyone interested in buying a property to work with LPC Invest. <i class="fa fa-quote-right"></i></p>
                        </div>
                    </div>
                    <div class="item slide-box">
                        <div class="testimonial-info-box">
                           
                            <h5>
                                <a>Abdulaziz Alobaid</a>
                            </h5>
                            <h6>Highly recommended estate agent!</h6>
                            <p><i class="fa fa-quote-left"></i> We recently bought a flat in 55 queens street and the whole experience was lovely. Ryan was our guy, he helped us getting the best deal and also he was nice and sincere. I am recommending this estate agent to all my friends as this is what a person needs; to buy a nice flat with the right guidance and advice.<i class="fa fa-quote-right"></i></p>
                        </div>
                    </div>
                    <div class="item slide-box">
                        <div class="testimonial-info-box">      
                            <h5>
                                <a>Ayanda Mhlanga</a>
                            </h5>
                            <h6>Excellent service from a clearly client focused company</h6>
                            <p><i class="fa fa-quote-left"></i> This is my second property purchase with LPC invest and I have once again been able to work closely with Natalie the whole way through. She sent me various options and even took the time out of her Saturday to take me on site visits to each of the properties before making her recommendation.<i class="fa fa-quote-right"></i></p>
                        </div>
                    </div>
                    <div class="item slide-box">
                        <div class="testimonial-info-box">      
                            <h5>
                                <a>Michael Chiu</a>
                            </h5>
                            <h6>Comment from an invester from Hong Kong</h6>
                            <p><i class="fa fa-quote-left"></i> Being an oversea invester from Hong Kong, I received remarkable service from LCP Invest Ltd.Their following up has been extremely smooth , precise and every task was completed within reasonable time frame. I am very much surprised by the proactive service level received from LCP.<i class="fa fa-quote-right"></i></p>
                        </div>
                    </div>
                    <div class="item slide-box">
                        <div class="testimonial-info-box">      
                            <h5>
                                <a>Oluwarotimi Fasuyi</a>
                            </h5>
                            <h6>Good Experience and support on the onboarding process</h6>
                            <p><i class="fa fa-quote-left"></i> The company was able to support and guide me on the onboarding process throughout the payment and review session.<i class="fa fa-quote-right"></i></p>
                        </div>
                    </div>
                    <div class="item slide-box">
                        <div class="testimonial-info-box">      
                            <h5>
                                <a>Tian</a>
                            </h5>
                            <h6>Nice service and rapid response</h6>
                            <p><i class="fa fa-quote-left"></i> Ben and Kerry are very very very friendly and patient to help me during the whole process. Rapid response and detailed instructions. I really enjoyed the experience.<i class="fa fa-quote-right"></i></p>
                        </div>
                    </div>
                    <div class="item slide-box">
                        <div class="testimonial-info-box">      
                            <h5>
                                <a>Andy Bullock</a>
                            </h5>
                            <h6>A trustworthy company</h6>
                            <p><i class="fa fa-quote-left"></i> Both Ryan and Kerry were very helpful throughout the process of securing the property. They were regularly available, answered questions honestly and were patient with the time it took to complete the process. I would recommend them.<i class="fa fa-quote-right"></i></p>
                        </div>
                    </div>
                    <div class="item slide-box">
                        <div class="testimonial-info-box">      
                            <h5>
                                <a>Tara Brady</a>
                            </h5>
                            <h6>Thoroughly impressed</h6>
                            <p><i class="fa fa-quote-left"></i> I was thoroughly impressed with my interactions with Ryan Griffiths at LPC invest. He was both friendly and professional and answered any questions in a clear and timely manner. I never felt any pressure and he made it easy to contact him at any point. I would certainly invest through LPC Invest again.<i class="fa fa-quote-right"></i></p>
                        </div>
                    </div>
                    <div class="item slide-box">
                        <div class="testimonial-info-box">      
                            <h5>
                                <a>Fran</a>
                            </h5>
                            <h6>Experienced and Informative</h6>
                            <p><i class="fa fa-quote-left"></i> I was given advice by a friend to work with LPC, more specifically to work with Ryan Griffiths. I was tentative at first since I am new to investing but over the past weeks have never felt more informed and confident. Ryan has made my experience exciting and easy and I can't thank him enough for the work he's done for me! I strongly recommend working with him and LPC if you have the opportunity.<i class="fa fa-quote-right"></i></p>
                        </div>
                    </div>

                    <div class="item slide-box">
                        <div class="testimonial-info-box">      
                            <h5>
                                <a>Raiyah</a>
                            </h5>
                            <h6>Excellent service</h6>
                            <p><i class="fa fa-quote-left"></i> This is my first time buying from LPC Invest and They have been extremely helpful providing a professional service. Ryan has been Great. He has been efficient always taking my calls and answering all questions.
                                Ryan has been a great help and would recommend him as has been patient and understanding.<i class="fa fa-quote-right"></i></p>
                        </div>
                    </div>
                    <div class="item slide-box">
                        <div class="testimonial-info-box">      
                            <h5>
                                <a>Veda</a>
                            </h5>
                            <h6>Ryan is an efficient and pleasant person.</h6>
                            <p><i class="fa fa-quote-left"></i> Ryan has been very efficient, knowledgeable and prompt with his communication. He is not a pushy seller, he patiently explained all our queries and helped us to make the decision. He good local knowledge. He was polite and pleasant throughout.<i class="fa fa-quote-right"></i></p>
                        </div>
                    </div>
                    <div class="item slide-box">
                        <div class="testimonial-info-box">      
                            <h5>
                                <a>Rodrigo</a>
                            </h5>
                            <h6>Excellent Service</h6>
                            <p><i class="fa fa-quote-left"></i> This is my first time buying from LPC Invest and I am midway through the process now. Ryan has been fantastic from the day he picked up my call. He has been efficient, friendly and always responds promptly to queries.<i class="fa fa-quote-right"></i></p>
                        </div>
                    </div>
                    <div class="item slide-box">
                        <div class="testimonial-info-box">      
                            <h5>
                                <a>Oliver</a>
                            </h5>
                            <h6>Ryan pays attention to detail</h6>
                            <p><i class="fa fa-quote-left"></i> Ryan pays attention to detail throughout the whole process and was able to chat on a personal level and provide honest opinions and feedback which was reassuring<i class="fa fa-quote-right"></i></p>
                        </div>
                    </div>
                    <div class="item slide-box">
                        <div class="testimonial-info-box">      
                            <h5>
                                <a>Luke</a>
                            </h5>
                            <h6>Outstanding Service</h6>
                            <p><i class="fa fa-quote-left"></i>  Could not recommend them more! Gave a lot of time to help us find the right property and were patient and understanding of our needs. Dave was always quick to respond to questions and helped the process move along at every stage.<i class="fa fa-quote-right"></i></p>
                        </div>
                    </div>
                    <div class="item slide-box">
                        <div class="testimonial-info-box">      
                            <h5>
                                <a>Chris Sallaway</a>
                            </h5>
                            <h6>A superb company</h6>
                            <p><i class="fa fa-quote-left"> A superb company to build a property portfolio with. Supportive throughout the purchase, and an excellent after-sales team. A special thanks to David who went above and beyond in assisting with completion. Thank you.</i><i class="fa fa-quote-right"></i></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- Testimonial end -->

<!-- Contact section start -->
<div data-aos="fade-up" class='mt-3 altContSec'>
    <div class="container mx-auto py-5 contact_section " >
      <div class="row d-flex justify-content-center px-0" >
        <div class="col-12">
          <p class="text-lead text-light text-capitalize" style="font-weight:700">Want to know more?</p>
          <h2 class="heading pb-4 text-capitalize" style="color:#00CE8D;"><span class="text-light">Contact us</span> today</h3>
          <div class="d-md-flex d-block gap-3">
                <a href="tel://+44 161 713 3883"> <button type="button" class="btn p-2 my-2 cont-sec" style="border-radius: 0;"><i class="fa fs-5 fa-phone px-2"></i>Call Us</button></a>
                <a href="https://api.whatsapp.com/send?phone=1617133883&text=Hi%2C I enquired through the LPC-Invest website and am interested in your project" target="_blank">
                    <button type="button" class="btn p-2 my-2  cont-sec" style="border-radius: 0;"><i class="fa fs-5 fa-whatsapp px-2"></i>Whatsapp</button></a>
                
                <a href="mailto:info@lpcinvest.com"><button type="button" class="btn cont-sec my-2 p-2" style="border-radius: 0;"><i class="fa fs-5 fa-envelope px-2"></i>Email</button></a>
                <a href="https://lpcinvest.pipedrive.com/scheduler/DpedXLfo/book-a-free-consultation-meeting" target="_blank">
                <button type="button" class="btn cont-sec my-2 p-2" style="border-radius: 0;"><i class="fa fs-5 fa-edit px-2"></i>Appointment</button></a>
            </div>
        </div>
      </div>
    </div>
</div>
<!-- Contact section End -->

<!-- Blog start -->
<div class="blog comon-slick content-area bg-light pt-2 mt-3 mb-3" data-aos="fade-up">
    <div class="container">
        <!-- Main title -->
        <div class="main-title-5">
            <h2 class="heading">Blog and <span style="color:#00CE8D">Articles</span></span></h2>
            <div class="title-border">
                <div class="title-border-inner"></div>
                <div class="title-border-inner"></div>
                <div class="title-border-inner"></div>
            </div>
        </div>
        <div class="slick row comon-slick-inner"
            data-slick='{"slidesToShow": 3, "responsive":[{"breakpoint": 1024,"settings":{"slidesToShow": 2}}, {"breakpoint": 768,"settings":{"slidesToShow": 1}}]}'>
         {%for blog in blogs%}   
            <div class="item slide-box">
                <div class="blog-3 b-photo2" style=" background: url(media/{{blog.image_1}});
                background-size:cover;background-repeat: no-repeat;background-position: center;">
                    <div class="blog-info">
                        <h3 style="font-weight:700"><a href="/blog/{{blog.id}}">{{blog.desc}}..</a></h3>
                        <div class="container">
                            <div class = "btn-group">
                                      <p><i class="fa fa-calendar pe-1 pt-4"></i> {{blog.pub_date}}</p> 
                                      <p class="ml-3 text-capitalize"><i class="fa fa-clock-o pe-1 pt-4"></i>{{blog.read_time}}</p> 
                            </div>
                      </div>
  
                    </div>

                </div>
            </div>
           {%endfor%}
        </div>
        <div class="col-12 d-flex justify-content-center justify-content-lg-end mb-3">
            <a href="/blogs" class="btn cont-sec" style="border-radius: 0%;width:200px">See More</a>
        </div>
    </div>
</div>
<!-- Blog end -->

<!-- Faqs Start -->
<div class="faq content-area-9 bg-light pt-1" data-aos="fade-up">
    <div class="container">
        <!-- Main title -->
        <div class="main-title text-center">
            <h2 class="heading">FAQs</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
        </div>
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <div class="faq-accordion accordion accordion-flush faq-accordion" id="accordionFlushExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                Why should I choose LPC?
                            </button>
                        </h2>
                        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <div class="p-text">
                                    LPC Invest has a team of experienced professionals who know the ins and outs of the property market. We provide you with all the tools, resources and advice you need to make smart investments. We have access to exclusive deals on properties you won't find anywhere else and we'll always strive to help you secure the most profitable investments. With LPC Invest you'll never feel alone in the property market – it's an investment journey that is designed carefully just for you.
                                    or
                                    LPC Invest is the perfect choice to make a great investment in the property market. We provide tailored advice and exceptional service that make the process of investing in a property much easier. Our team has years of experience in the property sector and an extensive network of contacts so we can guarantee you access to the best prices for high-yield investments. With our expert guidance, you can rest assured that you’ll be making the best decisions possible for your portfolio.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                                Why should I invest in property?
                            </button>
                        </h2>
                        <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <div class="p-text">
                                    Investing in property can offer you significant returns, with a number of investors receiving returns far greater than those achieved through more traditional investments. The property also offers the added benefit of diversity to your investment portfolio, allowing you to achieve higher returns with lower risk levels. Lastly, investing in property is relatively easy and straightforward if you work with an experienced team like LPC Invest, who can help guide you through the process of creating a successful investment portfolio.
                                    or
                                    Investing in property provides a great opportunity for long-term wealth creation. Property prices tend to appreciate over time, so you can reap healthy rewards from a well-thought-out investment strategy. At LPC Invest, we use our knowledge and experience of the property market to help you make the best investment decisions possible and secure maximum returns on your investments.
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                                Is investing in property safe?
                            </button>
                        </h2>
                        <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <div class="p-text">
                                    Investing in properties is a great way of both increasing your wealth and diversifying your investments. At LPC Invest, we take safety seriously. Our experienced team is here to support you every step of the way, helping you make informed decisions so that you can be confident in making sound investments. We evaluate each property to ensure it meets our high standards before recommending it as an option for investment – giving you added peace of mind and confidence in investing with us.
                                    Though it is vital to note that investing in property carries some level of risk, such as changes in the local economy, changes in the real estate market, and natural disasters or other unforeseen events. It's essential to be aware of these risks and to do proper research and due diligence before making any investment decisions. Additionally, it's important to have a clear strategy and long-term vision in mind.
                                    However, with proper research, due diligence, and a long-term investment strategy, real estate investment can be relatively safe. Additionally, the UK property market has shown steady growth over the years. Hence, owning a rental property can provide a steady stream of rental income, which can help to offset the costs of owning the property.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-heading4">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse4" aria-expanded="false" aria-controls="flush-collapse4">
                                Can I use my solicitor?
                            </button>
                        </h2>
                        <div id="flush-collapse4" class="accordion-collapse collapse" aria-labelledby="flush-heading4" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <div class="p-text">
                                    Of course! You are welcome to use your own solicitor. Our goal here at LPC Invest is to make the process as stress-free as possible and we understand that having someone you know and trust is important. We will be more than happy to work together with them as long as they are a qualified and experienced professional in the field of real estate law.
                                    or
                                    Absolutely! We always recommend that clients use a qualified solicitor to guide them through complex legal processes and ensure that their interests are represented throughout. Your solicitor will provide invaluable advice, conduct property searches, and review the contract for any issues or irregularities. Working with an experienced professional will give you peace of mind in knowing that your best interests are being properly taken care of.
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-heading5">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse5" aria-expanded="false" aria-controls="flush-collapse5">
                                Who will manage my property?
                            </button>
                        </h2>
                        <div id="flush-collapse5" class="accordion-collapse collapse" aria-labelledby="flush-heading5" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <div class="p-text">
                                    There are several options for managing an investment property, including:
                                    <ul class="list-group shadow">
          
          
                                        <li class="list-group-item list-group-item-info d-flex gap-1 align-items-center"><i class="fa fa-check text-success fw-bold fs-2 pe-3" ></i>
                                            Self-management: The property owner manages the property themselves, handling tasks such as tenant screenings, rent collection, and maintenance.                                        
                                        </li>
                                        <li class="list-group-item list-group-item d-flex gap-1 align-items-center"><i class="fa fa-check text-success fw-bold fs-2 pe-3" ></i>
                                            Hiring a property management company: The property owner hires a professional property management company to handle tasks such as tenant screenings, rent collection, and maintenance.
                                        </li>
                                        <li class="list-group-item list-group-item-info d-flex gap-1 align-items-center"><i class="fa fa-check text-success fw-bold fs-2 pe-3" ></i>
                                            Hiring a property manager: The property owner hires a single property manager to handle tasks such as tenant screenings, rent collection, and maintenance.
                                        </li>
                                    </ul> 
                                        Ultimately, the decision of who will manage the property will depend on the property owner's preferences and their level of experience managing properties. It is important to discuss the pros and cons of each option and help the client make an informed decision that best fits their needs.
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-heading5">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse5" aria-expanded="false" aria-controls="flush-collapse5">
                             How long does it take to become a landlord?                            </button>
                        </h2>
                        <div id="flush-collapse5" class="accordion-collapse collapse" aria-labelledby="flush-heading5" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <div class="p-text">
                                    When you buy an investment property, the process of becoming a landlord can vary depending on a number of factors. Here are a few things to consider:
                                    <ul class="list-group shadow">
          
          
                                        
                                        <li class="list-group-item list-group-item d-flex gap-1 align-items-center"><i class="fa fa-check text-success fw-bold fs-2 pe-3" ></i>
                                            Finding tenants: Finding tenants can take anywhere from a few days to a few months, depending on the rental market and the condition of the property.
                                        </li>
                                        <li class="list-group-item list-group-item-info d-flex gap-1 align-items-center"><i class="fa fa-check text-success fw-bold fs-2 pe-3" ></i>
                                            Legal paperwork: Depending on the state and local laws, there may be certain legal paperwork that needs to be completed before a tenant can move in. This can take a few days to a few weeks.
                                        </li>
                                        <li class="list-group-item list-group-item d-flex gap-1 align-items-center"><i class="fa fa-check text-success fw-bold fs-2 pe-3" ></i>
                                            Inspections: Depending on the condition of the property, inspections may be required before a tenant can move in. This can take a few days to a few weeks.
                                        </li>
                                        <li class="list-group-item list-group-item-info d-flex gap-1 align-items-center"><i class="fa fa-check text-success fw-bold fs-2 pe-3" ></i>
                                            Repairs and renovations: If the property needs repairs or renovations before it can be rented, this can take anywhere from a few days to a few months.
                                        </li>
                                        <li class="list-group-item list-group-item d-flex gap-1 align-items-center"><i class="fa fa-check text-success fw-bold fs-2 pe-3" ></i>
                                            Closing on the property: It takes usually around 30-45 days to close on a property after a purchase agreement is signed.
                                        </li>
                                        

                                    </ul> 
                                    Overall, the process of becoming a landlord after buying an investment property can take anywhere from a few weeks to a few months, depending on the factors mentioned above.
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="accordion-item mb-10">
                        <h2 class="accordion-header" id="flush-heading6">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse6" aria-expanded="false" aria-controls="flush-collapse6">
                                What benchmarks does LPC Invest use?                            </button>
                        </h2>
                        <div id="flush-collapse6" class="accordion-collapse collapse" aria-labelledby="flush-heading6" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <div class="p-text">
                                    At LPC Invest, we use verifiable benchmarks to measure progress of our clients' investment objectives. Many portfolios are monitored against the Growth, Balanced and Income benchmark defined by PIMFA (formerly the Wealth Management Association). Using MSCI WMA Private Investor Series, we ensure that these benchmarks give a fair comparison to accurately assess our performance.  With LPC Invest, you can be rest assured that your investments are securely managed and measured against reliable benchmarks.
                                    We prioritize market-linked performance benchmarks when monitoring our clients' investments. We use these benchmarks to measure and track our investments against the expected performance of the markets over a period of three years. This helps us make sure that our clients are consistently getting the best returns possible. Additionally, we also have the flexibility to use actual weightings that may deviate from the benchmark's weights, giving us an even greater level of precision and accuracy in tracking our investments.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Faqs End -->



<!-- Partners strat -->
<div class="partners bg-grea-5 mt-5 pt-1" data-aos="fade-up">
    <div class="container">
        <h4 class='mb-3 display-5 fw-bold' style="color:#252626">Partners</h4>
        <div class="row">
            <div class="col-lg-12 mt-3">

              <div class="custom-slider slide-box-btn row d-none d-sm-block">
                  <div class="custom-box"><img src="https://www.northpropertygroup.co.uk/wp-content/uploads/2022/05/rightmove.png" alt="brand"></div>
                  <div class="custom-box"><img src="https://www.northpropertygroup.co.uk/wp-content/uploads/2022/05/rightmove.png" alt="brand"></div>
                  <div class="custom-box"><img src="https://www.northpropertygroup.co.uk/wp-content/uploads/2022/05/rightmove.png" alt="brand"></div>
                  <div class="custom-box"><img src="https://www.northpropertygroup.co.uk/wp-content/uploads/2022/05/rightmove.png" alt="brand"></div>
                  <div class="custom-box"><img src="https://www.northpropertygroup.co.uk/wp-content/uploads/2022/05/rightmove.png" alt="brand"></div>
                  <div class="custom-box"><img src="https://www.northpropertygroup.co.uk/wp-content/uploads/2022/05/rightmove.png" alt="brand"></div>
                  <div class="custom-box"><img src="https://www.northpropertygroup.co.uk/wp-content/uploads/2022/05/rightmove.png" alt="brand"></div>
                  <div class="custom-box"><img src="https://www.northpropertygroup.co.uk/wp-content/uploads/2022/05/rightmove.png" alt="brand"></div>
                  <div class="custom-box"><img src="https://www.northpropertygroup.co.uk/wp-content/uploads/2022/05/rightmove.png" alt="brand"></div>
              </div>

                <div class="custom-slider slide-box-btn row d-xs-block d-sm-none">
                    <div class="custom-box col-sm-12 d-flex justify-content-between" >
                      <img src="https://www.northpropertygroup.co.uk/wp-content/uploads/2022/05/rightmove.png" alt="brand">
                      <img src="https://www.northpropertygroup.co.uk/wp-content/uploads/2022/05/rightmove.png" alt="brand">
                    </div>
                    <div class="custom-box col-sm-12 d-flex justify-content-between" >
                      <img src="https://www.northpropertygroup.co.uk/wp-content/uploads/2022/05/rightmove.png" alt="brand">
                      <img src="https://www.northpropertygroup.co.uk/wp-content/uploads/2022/05/rightmove.png" alt="brand">
                    </div>
                    <div class="custom-box col-sm-12 d-flex justify-content-between" >
                      <img src="https://www.northpropertygroup.co.uk/wp-content/uploads/2022/05/rightmove.png" alt="brand">
                      <img src="https://www.northpropertygroup.co.uk/wp-content/uploads/2022/05/rightmove.png" alt="brand">
                    </div>
                    <div class="custom-box col-sm-12 d-flex justify-content-between" >
                      <img src="https://www.northpropertygroup.co.uk/wp-content/uploads/2022/05/rightmove.png" alt="brand">
                      <img src="https://www.northpropertygroup.co.uk/wp-content/uploads/2022/05/rightmove.png" alt="brand">
                    </div>
                    <div class="custom-box col-sm-12 d-flex justify-content-between" >
                      <img src="https://www.northpropertygroup.co.uk/wp-content/uploads/2022/05/rightmove.png" alt="brand">
                      <img src="https://www.northpropertygroup.co.uk/wp-content/uploads/2022/05/rightmove.png" alt="brand">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Partners end -->


{%endblock body%}
