{% extends 'user/basic.html' %} {% load static %} {% block title %} Privacy Policy {%endblock title%} {% block css %}
<style>
    .sub_li {
        margin-left: 15px !important;
        list-style-type: square;
    }

    .sub_heading {
        font-weight: 900;
        font-weight: 20px;
        color: #00CE8D;
        margin-top:8px;
        margin-bottom: 0pc;
    }

    .sub_li span {
        font-weight: 700 !important;
    }
    .li_pts{
        font-size: 16px;
  line-height: 25px;
  color: #343434;
  font-weight: 700;
  font-family: 'Mulish', sans-serif;
    }
    .li_pts ul{
        color: #555 !important;
        
    }
 .heading{
    line-height: 25px;
  color: #343434;
  font-weight: 700;
  font-family: 'Mulish', sans-serif;
  margin-top: 10px;
  margin-bottom: 2px;
 }
</style>
{%endblock css %} {% block body %}





<div class="banner" id="banner">

    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item item-bg active">
                <img class="d-block w-100 h-100"
                    src="https://storage.googleapis.com/theme-vessel-items/checking-sites/neer-2-html/HTML/main/img/banner/img-2.jpg"
                    alt="banner">
                <div class="carousel-caption banner-slider-inner d-flex h-100 text-start">
                    <div class="carousel-content container align-self-center">
                        <div class="banner-info2">
                            <div class="text-l text-center">
                                <h3 class="text-uppercase">Privacy Policy</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item item-bg">
                <img class="d-block w-100 h-100" src="{% static 'img/slider-property/2-min.jpg' %}" alt="banner">
                <div class="carousel-caption banner-slider-inner d-flex h-100 text-start">
                    <div class="carousel-content container align-self-center">
                        <div class="banner-info2">
                            <div class="text-l text-center">
                                <h3 class="text-uppercase">Privacy Policy</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev"
            style="top:45%">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next"
            style="width:15%">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

</div>
</section>


<section class="py-2 bg-light text-start mt-3 bg-light" id="next">
    <div class="container mt-3">
        <h2 class="heading fs-1">PRIVACY POLICY</span></h2>
        <p class="mt-3">This privacy policy applies between you, the User of the Website, and LPC Invest Limited, the owner
            and provider of this website. LPC Invest Limited takes the privacy of your information very seriously.
            The privacy policy applies to our use of any and all Data collected by us or provided by you in
            relation to your use of the website.</p>
        <h4 class="heading fs-1 mt-3" style="font-size: 22px;">Please read this privacy policy carefully.</h4>
        <p class="sub_heading">Definitions and Interpretation</p>
        <ul>
            <li class="li_pts">
                1. In this privacy policy, the following definitions are used.
            </li>
            <li class="li_pts">
                2. In this privacy policy, unless the context requires a different interpretation:
                <ul>
                    <li class="sub_li">The singular includes the plural and vice versa</li>
                    <li class="sub_li">References to sub clauses, clauses or appendices are to sub-clauses, clauses,
                        schedules</li>
                    <li class="sub_li">A reference to a person includes firms, companies, government entities, trusts
                        and partnerships</li>
                    <li class="sub_li">Including” is understood to mean “including without limitation</li>
                    <li class="sub_li">Reference to any statutory provision includes any modification or amendment of it
                    </li>
                    <li class="sub_li">The headings and sub-headings do not form part of this privacy policy.</li>
                </ul>
            </li>
            <li class="li_pts">
                3. This privacy policy applies only to the actions of LPC Invest Limited and Users with respect to
                this Website. It does not extend to any websites that can be accessed from this website
                including, but not limited, any links we may provide to social media websites.
            </li>
            <li class="li_pts">4. For purposes of the applicable Data Protection Laws, LPC Invest Limited is the “data
                controller”. This means that LPC Invest Limited determines the purposes for which, and the
                manner in which, your Data is processed.</li>

            <li class="li_pts">
                5. We collect data in the following ways:
                <ul>
                    <li class="sub_li">Data is given to us by you; and</li>
                    <li class="sub_li">Data is collected automatically</li>
                </ul>
            </li>
        </ul>
        <p class="sub_heading">Data that is given to us by you</p>
        <ul>
            <li class="li_pts">
                6. LPC Invest Limited will collect your data in a number of ways, for example.
                <ul>
                    <li class="sub_li">When you contact us through the website, by telephone, post, e-mail or through
                        any
                        other means; in each case, in accordance with this privacy policy.</li>
                </ul>
            </li>
            <ul>


                <p class="sub_heading">Data that is collected automatically</p>
                <ul>
                    <li class="li_pts">
                        7. To the extent that you access the website, we will collect your data automatically, for
                        example:
                        <ul>
                            <li class="sub_li">We automatically collect some information about your visit to the
                                website. The
                                information helps us to improvements to Website content and navigation, and includes
                                your IP Address, the date, times and frequency with which you access the website and
                                the way you use and interact with its content.</li>
                        </ul>
                    </li>
                    <ul>


                        <p class="sub_heading">Keeping Data Secure</p>
                        <ul>
                            <li class="li_pts">
                                8. We will use technical and organisational measures to Safeguard your data;
                            </li>
                            <li class="li_pts">
                                9. Technical and organisational measures include measures to deal with any suspected
                                data
                                breach. If you suspect any misuse or loss or unauthorised access your Data, please let
                                us
                                know immediately by contacting us via email address: info@lpcinvest.com
                            </li>
                            <li class="li_pts">
                                10. If you want detailed information from Get Safe Online on how to protect your
                                information
                                and your computers and devices against fraud, identity theft, viruses and many other
                                online
                                problems, please visit www.getsafeonline.org. Get Safe Online is supported by HM
                                Government and leading businesses.
                            </li>
                            <ul>

                                <p class="sub_heading">Data Retention</p>
                                <ul>
                                    <li class="li_pts">
                                        11. Unless a longer retention period is required or permitted by law, we will
                                        only hold your Data
                                        on our systems for the period necessary to fulfil the purposes outlined in this
                                        privacy policy
                                        or until you request that the Data be deleted.
                                    </li>
                                    <ul>

                                        <p class="sub_heading">Your Rights</p>
                                        <ul>
                                            <li class="li_pts">
                                                12. You have the following rights in relation to your Data:
                                                <ul>
                                                    <li class="sub_li"><span>Right to Access –</span> the right to
                                                        request (i) copies of the information we hold about you at
                                                        any time, or (ii) that we modify, update or delete such
                                                        information. If we provide you
                                                        with access to the information we hold about you, we will not
                                                        charge you for this, unless
                                                        your request is “manifestly unfounded or excessive”. Where we
                                                        are legally permitted to
                                                        do so, we may refuse your request. If we refuse your request, we
                                                        will tell you the
                                                        reasons why.</li>
                                                    <li class="sub_li"><span>Right to Correct – </span>the right to have
                                                        your data rectified if it is inaccurate or incomplete</li>
                                                    <li class="sub_li">Right to Erase – the right to request that we
                                                        delete or remove your data from our
                                                        systems</li>
                                                    <li class="sub_li"><span>Right to restrict our use of your Data –
                                                        </span>the right to “block” us from using your data or
                                                        limit the way in which we can use it</li>
                                                    <li class="sub_li"><span>Right to data portability – </span>the
                                                        right to request that we move, copy or transfer your
                                                        request.</li>
                                                    <li class="sub_li"><span>Right to object – </span>the right to
                                                        object to our use of your Data including where we use it for
                                                        our legitimate interests</li>
                                                </ul>
                                            </li>
                                            <li class="li_pts">
                                                13. To make enquiries, exercises your rights set out above, or withdraw
                                                your consent to the
                                                processing of Data (where consent is our legal basis for processing your
                                                Data), please
                                                contact us by email info@lpcinvest.com
                                            </li>
                                            <li class="li_pts">14. It is important that the data we hold about you in
                                                accurate and current. Please keep us
                                                informed if your data changes during the period which we hold it.</li>
                                            <ul>
                                                <p class="sub_heading">Links to other websites</p>
                                                <ul>
                                                    <li class="li_pts">
                                                        15. This website may, from time to time, provide links to other
                                                        websites. We have no control
                                                        over such websites and are not responsible for the content of
                                                        these websites. This privacy
                                                        policy does not extend to your use of such websites. You are
                                                        advised to read the privacy
                                                        policy or statement of other websites prior to using them</li>
                                                </ul>
                                                <p class="sub_heading">Changes to this privacy policy</p>
                                                <ul>
                                                    <li class="li_pts">
                                                        16. LPC Invest reserves the right to change this privacy policy
                                                        as we may deem necessary from
                                                        time to time or as may be required by law. Any changes will be
                                                        immediately posted on the
                                                        website and you are deemed to have accepted the terms of the
                                                        privacy policy on your first
                                                        use of the website following the alterations.</li>
                                                </ul>
    </div>
    </div>

</section>


    {%endblock body%} {% block script %} {% endblock script %}