{% extends 'user/basic.html' %} {% load static %} {% block title %} {{blog_content.desc}} {%endblock title%} 
{% block css %}
{% endblock css %} 
<style>
  .display-4, .display-4 p{
    font-size:10px!important;
  }
  .display-4 {
    font-size: 20px !important;
    line-height: 1.2;
  }
  .display-4 {
    font-size:2rem!important;
    font-weight: 700!important;;;
    line-height: 1.2;
  }
  .cont-sec{
    padding-left: 20px !important;
    padding-right: 20px!important;;
    padding-top: 5px!important;;
    padding-bottom: 5px!important;;
    border-radius: 50px!important;;
  }
  .display-6 {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.2;
  }
  .carousel-inner h3{
font-size:24px!important;
  }


</style>
{% block body %}

<!-- Banner start -->
<div class="banner" id="banner">
  
  <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
      <div class="carousel-inner">
          <div class="carousel-item item-bg active">
              <img class="d-block w-100 h-100" src="https://storage.googleapis.com/theme-vessel-items/checking-sites/neer-2-html/HTML/main/img/banner/img-2.jpg" alt="banner">
              <div class="carousel-caption banner-slider-inner d-flex h-100 text-start">
                <div class="carousel-content container align-self-center">
                  <div class="banner-info2">
                      <div class="text-l text-center">
                          <h3 class="text-capitalize" style="font-size:22px;">{{blog_content.desc}}</h3>
                      </div>
                  </div>
              </div>
              </div>
          </div>
          <div class="carousel-item item-bg">
              <img class="d-block w-100 h-100" src="https://storage.googleapis.com/theme-vessel-items/checking-sites/neer-2-html/HTML/main/img/banner/img-1.jpg" alt="banner">
              <div class="carousel-caption banner-slider-inner d-flex h-100 text-start">
                  <div class="carousel-content container align-self-center">
                    <div class="banner-info2">
                      <div class="text-l text-center">
                          <h3 class="text-capitalize"style="font-size:22px;">{{blog_content.desc}}</h3>
                      </div>
                  </div>
                  </div>
              </div>
          </div>
          <div class="carousel-item item-bg">
              <img class="d-block w-100 h-100" src="{% static 'img/slider-property/2-min.jpg' %}" alt="banner">
              <div class="carousel-caption banner-slider-inner d-flex h-100 text-start">
                <div class="carousel-content container align-self-center">
                  <div class="banner-info2">
                    <div class="text-l text-center">
                        <h3 class="text-capitalize" style="font-size:22px;">{{blog_content.desc}}</h3>
                    </div>
                </div>
                </div>
              </div>
          </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev" style="top:45%">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next" style="width:15%;">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
      </button>
  </div>
 
</div>
<!-- Banner end -->

<!-- Sub banner end -->
<div class="container mt-5 mb-2">
  <header>
    <h2 class="heading text-center" >{{blog_content.title | safe }}</h2>
    </div>
  </header>
  <hr/>



<!-- Main content Starts -->
</div>

<div class="row mx-0">
  <div class="container">
    <img src="/static/img/blog.jpeg" class="img-fluid w-100"/>
  </div>
</div>

<!-- Blog body start -->


      <div class="blog-body content-area-5 pt-2 bg-light">
        <div class="">
          
                    <!-- Blog 1 start -->
                    <div class="blog-1 blog-big" style="z-index:1">
                        <div class="bg-light">
                          {{blog_content.content | safe }}     


</div>
</div>
</div>
<!-- Blog body end -->


<!-- Full Page Search -->
<div id="full-page-search">
  <button type="button" class="close">×</button>
  <form action="index.html#">
      <input type="search" value="" placeholder="type keyword(s) here"/>
      <button type="submit" class="btn btn-sm button-theme">Search</button>
  </form>
</div>




  
<!-- Main content Ends -->

<!-- Share Buttons Start -->
  <div class="d-flex justify-content-center">
    <div class="col-12 d-flex justify-content-center  gap-4  align-items-center mb-5">
      <div class="d-flex gap-3 justify-content-between share_btns">
        <a class="btn cont-sec py-2 px-3" href="https://www.instagram.com/?url=https://google.com">
          <i class="fa fa-instagram pt-1"></i>
        </a>
        <a class="btn cont-sec py-2 px-3" href="https://www.facebook.com/sharer/sharer.php?u=https://google.com">
          <i class="fa fa-facebook pt-1"></i>
        </a>
        <a class="btn cont-sec py-2 px-3" href="https://google.com">
          <i class="fa fa-twitter pt-1"></i>
        </a>
        <a class="btn cont-sec py-2 px-3" href="https://wa.me/whatsappphonenumber/?text=https://google.com">
          <i class="fa fa-whatsapp pt-1"></i>
        </a>
      </div>
    </div>

  </div>
<!-- Share Buttons Start -->



 
<!-- Related Article section start -->

 <!--Blog Card  Start-->
 <div class="blog comon-slick content-area bg-light mt-3" data-aos="fade-up">
  <div class="container">
      <!-- Main title -->
      <div class="main-title-5">
          <h2 class="heading">Related <span style="color:#00CE8D">Articles</span></span></h2>
          <div class="title-border">
              <div class="title-border-inner"></div>
              <div class="title-border-inner"></div>
              <div class="title-border-inner"></div>
          </div>
      </div>
      <div class="slick row comon-slick-inner"
          data-slick='{"slidesToShow": 3, "responsive":[{"breakpoint": 1024,"settings":{"slidesToShow": 2}}, {"breakpoint": 768,"settings":{"slidesToShow": 1}}]}'>
    
          {%for blog in related_blogs%}   
          <div class="item slide-box">
              <div class="blog-3 b-photo2" style=" background: url(media/{{blog.image_1}});
              background-size:cover;background-repeat: no-repeat;background-position: center;">
                  <div class="blog-info">
                      <h3 style="font-weight:700"><a href="/blog/{{blog.id}}">{{blog.desc}}..</a></h3>
                      <div class="container">
                          <div class = "btn-group">
                                    <p><i class="fa fa-calendar pe-1 pt-4"></i> {{blog.pub_date}}</p> 
                                    <p class="ml-3 text-capitalize"><i class="fa fa-clock-o pe-1 pt-4"></i>{{blog.read_time}}</p> 
                          </div>
                    </div>

                  </div>

              </div>
          </div>
         {%endfor%}
        </div>
     
  </div>
</div>
<!-- Related Article secion End -->



<!-- Contact section start -->
<div data-aos="fade-up" class='mt-3 altContSec ' style="">
  <div class="container mx-auto py-5 contact_section " >
    <div class="row d-flex justify-content-center px-0" >
      <div class="col-12">
        <p class="text-lead text-light" style="font-weight:700">Want to know more?</p>
        <h2 class="heading pb-4" style="color:#00CE8D;"><span class="text-light">Contact us</span> today</h3>
        <div class="d-md-flex d-block gap-3">
              <a href="tel://+44 161 713 3883"> <button type="button" class="btn p-2 my-2 cont-sec" style="border-radius: 0;"><i class="fa fs-5 fa-phone px-2"></i>Call Us</button></a>
              <a href="https://api.whatsapp.com/send?phone=1617133883&text=Hi%2C I enquired through the LPC-Invest website and am interested in your project" target="_blank">
                  <button type="button" class="btn p-2 my-2  cont-sec" style="border-radius: 0;"><i class="fa fs-5 fa-whatsapp px-2"></i>whatsapp</button></a>
              
              <a href="mailto:info@lpcinvest.com"><button type="button" class="btn cont-sec my-2 p-2" style="border-radius: 0;"><i class="fa fs-5 fa-envelope px-2"></i>Email</button></a>
              <a href="https://lpcinvest.pipedrive.com/scheduler/DpedXLfo/book-a-free-consultation-meeting" target="_blank">
              <button type="button" class="btn cont-sec my-2 p-2" style="border-radius: 0;"><i class="fa fs-5 fa-edit px-2"></i>Appointment</button></a>
          </div>
      </div>
    </div>
  </div>
  </div>
  <!-- Contact section End -->



</div>


{%endblock body%} {% block script %} {% endblock script %}
