{% extends 'user/basic.html' %} {% load static %} {% block title %} {{blog_content.desc}} {%endblock title%} {% block css %} {% endblock css %} {% block body %}

<!-- Sub banner start -->
<div class="sub-banner">
  <div class="container">
    <div class="breadcrumb-area">
      <h1>{{page_data.member_name}}</h1>
      <ul class="breadcrumbs">
        <li><a href="/">Home</a></li>
        <li class="active"><a href='/about'>About</a></li> <li class="active">blog</li>
      </ul>
    </div>
  </div>
</div>
<!-- Sub banner end -->
<div class="container my-5">
  <header class="container my-5">
    <h1 class="display-4 text-center fw-bold" style="font-size:14px !important;">{{blog_content.title | safe }}</h1>
    <div class="d-flex justify-content-center">
      <div class="col-12 d-flex justify-content-center  gap-4  align-items-center mb-5">
        <h5 class="fs-5 text-center mb-0 p-0">Share to:</h5>
        <div class="d-flex gap-3 justify-content-between">
          <a class="btn cont-sec" href="https://www.instagram.com/?url=https://google.com">
            <i class="fa fa-instagram"></i>
          </a>
          <a class="btn cont-sec" href="https://www.facebook.com/sharer/sharer.php?u=https://google.com">
            <i class="fa fa-facebook"></i>
          </a>
          <a class="btn cont-sec" href="https://google.com">
            <i class="fa fa-twitter"></i>
          </a>
          <a class="btn cont-sec" href="https://wa.me/whatsappphonenumber/?text=https://google.com">
            <i class="fa fa-whatsapp"></i>
          </a>
        </div>
      </div>

    </div>
  </header>
  <hr/>



<!-- Main content Starts -->
  <main class="container my-5 fs-5">

    {{blog_content.content | safe }}

  
   
  </main>
<!-- Main content Ends -->

<!-- Share Buttons Start -->
  <div class="d-flex justify-content-center">
    <div class="col-12 d-flex justify-content-center  gap-4  align-items-center mb-5">
      <h5 class="fs-5 text-center mb-0 p-0">Share to:</h5>
      <div class="d-flex gap-3 justify-content-between">
        <a class="btn cont-sec" href="https://www.instagram.com/?url=https://google.com">
          <i class="fa fa-instagram"></i>
        </a>
        <a class="btn cont-sec" href="https://www.facebook.com/sharer/sharer.php?u=https://google.com">
          <i class="fa fa-facebook"></i>
        </a>
        <a class="btn cont-sec" href="https://google.com">
          <i class="fa fa-twitter"></i>
        </a>
        <a class="btn cont-sec" href="https://wa.me/whatsappphonenumber/?text=https://google.com">
          <i class="fa fa-whatsapp"></i>
        </a>
      </div>
    </div>

  </div>
<!-- Share Buttons Start -->



  <div class="row bg-para mx-0 d-flex justify-content-center" style="height:70vh">
    <div class="col-md-6 col-12 p-3 d-flex align-items-center justify-content-center">
      <div class="text-center">
        <h2 class="h2 py-3" style="color:#00CE8D;">Explore our properties</h2>
        <button class="btn btn-lg cont-sec"><i class="fa fa-group pe-2"></i> Explore Now</button>
      </div>
    </div>
    <div class="col-md-6 p-3 col-12 d-flex align-items-center justify-content-center">
      <div class="text-center">
        <h2 class="h2" style="color:#00CE8D;">From £249,950</h2>
        <h5 class="h5 fw-light text-light"><i class="fa fa-info-circle"></i> Yield: 13.5%</h5>
        <h5 class="h5 fw-light text-light"><i class="fa fa-building"></i> In Construction</h5>
        <h5 class="h5 fw-light text-light"><i class="fa fa-calendar"></i> Est. Q4 2024</h5>
        <h5 class="h5 fw-light text-light"><i class="fa fa-clock-o"></i> Lease Length: 250 Years</h5>
      </div>
    </div>
  </div>


  <hr style="height:5px;background:black"/>

<!-- Related Article section start -->

 <!--Blog Card  Start-->
 <div class="blog comon-slick content-area bg-light" data-aos="fade-up">
  <div class="container">
      <!-- Main title -->
      <div class="main-title-5">
          <h2 class="heading">Blog and <span style="color:#00CE8D">Articles</span></span></h2>
          <div class="title-border">
              <div class="title-border-inner"></div>
              <div class="title-border-inner"></div>
              <div class="title-border-inner"></div>
          </div>
      </div>
      <div class="slick row comon-slick-inner"
          data-slick='{"slidesToShow": 3, "responsive":[{"breakpoint": 1024,"settings":{"slidesToShow": 2}}, {"breakpoint": 768,"settings":{"slidesToShow": 1}}]}'>
       {%for blog in blogs%}   
          <div class="item slide-box">
              <div class="blog-3 b-photo2" style=" background: url(media/{{blog.image_1}});
              background-size:cover;background-repeat: no-repeat;background-position: center;">
                  <div class="blog-info">
                      <h3 style="font-weight:700"><a href="/blog/{{blog.id}}">{{blog.desc}}..</a></h3>
                      <div>
                          <p><i class="fa fa-calendar pe-3 pt-4"></i> {{blog.pub_date}}</p> 
                      </div>
                  </div>

              </div>
          </div>
         {%endfor%}
      </div>
      <div class="col-12 d-flex justify-content-center justify-content-lg-end">
          <a href="/blogs" class="btn w-25 cont-sec" style="border-radius: 0%;">See More</a>
      </div>
  </div>
</div>
<!-- Related Article secion End -->

</div>
{%endblock body%} {% block script %} {% endblock script %}
