{% extends 'user/basic.html' %} {% load static %} {% block title %} About Us {%endblock title%} {% block css %} {% endblock css %} {% block body %}

<div class="banner" id="banner">
  
  <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
      <div class="carousel-inner">
          <div class="carousel-item item-bg active">
              <img class="d-block w-100 h-100" src="{% static 'img/team/team.jpg' %}" alt="banner">
              <div class="carousel-caption banner-slider-inner d-flex h-100 text-start">
                <div class="carousel-content container align-self-center">
                  <div class="banner-info2">
                      <div class="text-l text-center">
                          <h3 class="text-uppercase">About Us</h3>
                      </div>
                  </div>
              </div>
              </div>
          </div>
          <div class="carousel-item item-bg">
              <img class="d-block w-100 h-100" src="https://storage.googleapis.com/theme-vessel-items/checking-sites/neer-2-html/HTML/main/img/banner/img-2.jpg" alt="banner">
              <div class="carousel-caption banner-slider-inner d-flex h-100 text-start">
                  <div class="carousel-content container align-self-center">
                    <div class="banner-info2">
                      <div class="text-l text-center">
                          <h3 class="text-uppercase">About Us</h3>
                      </div>
                  </div>
                  </div>
              </div>
          </div>
          <div class="carousel-item item-bg">
              <img class="d-block w-100 h-100" src="{% static 'img/slider-property/2-min.jpg' %}" alt="banner">
              <div class="carousel-caption banner-slider-inner d-flex h-100 text-start">
                <div class="carousel-content container align-self-center">
                  <div class="banner-info2">
                    <div class="text-l text-center">
                        <h3 class="text-uppercase">About Us</h3>
                    </div>
                </div>
                </div>
              </div>
          </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev" style="top:45%">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next" style="width:15%">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
      </button>
  </div>
 
</div>    
<!-- Sub Banner end -->







{%endblock body%} {% block script %} {% endblock script %}
