{% extends 'user/basic.html' %} {% load static %} {% block title %} Stamp Duty Calculator {%endblock title%}{% block css %}

<style>
    .contact-new{
        
    }
    .contact-new .div{
        padding: 3px !important;
    color: #495057!important;
    width: 100%;
    min-height: 50px;
    font-size: 15px;
    font-weight: 500;
    border-radius: 3px;
    }
    /** Contact 2 start **/
    .contact-new .contact-innner {
    
    background: #fff;;
    box-shadow: 0px 5px 15px 0px rgb(62 65 159 / 10%);
    padding:15px;
    padding-bottom: 25px;
}

.contact-new .contact-innner {
        margin: 0 auto -80px;
    }
    .table_head th strong {
        font-weight: bolder !important;
        color: black;
        font-size: 19;
    }

    #result_table {
        display: none;
    }

    .total {
        font-weight: bolder !important;
        color: black;
    }


    /** Floor plans start **/
    .floor-plans table {
        width: 100%;
        margin-bottom: 40px;
        border: 1px solid rgba(0, 0, 0, 0.0.7);
    }

    .floor-plans table tr:first-child {
        border-bottom: 1px solid rgba(0, 0, 0, 0.0.7);
    }

    .floor-plans table td,
    table th {
        padding: 10px 15px;
        border-right: 1px solid rgba(0, 0, 0, 0.0.7);
    }

    .floor-plans table td {
        font-size: 15px;
        font-weight: 400;
        color: #343434;
    }

    .floor-plans table strong {
        font-weight: 500;
    }
    .contact-form{
        z-index: 999!important;
        background: #fff;;
        box-shadow: 0px 5px 15px 0px rgb(62 65 159 / 10%);
        padding:15px;
        padding-bottom: 25px;
    }
</style>{% endblock css %} {% block body %}
<div class="banner" id="banner">
  
    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item item-bg active">
                <img class="d-block w-100 h-100 ratioCar" src="/static/img/background-index/1.jpg" alt="banner">
                <div class="carousel-caption banner-slider-inner d-flex h-100 text-start">
                  <div class="carousel-content container align-self-center">
                    <div class="banner-info2">
                        <div class="text-l text-center">
                            <h3 class="text-uppercase">Stamp Duty Calculator</h3>
                        </div>
                    </div>
                </div>
                </div>
            </div>
            <div class="carousel-item item-bg">
                <img class="d-block w-100 h-100 ratioCar" src="/static/img/background-index/2.jpg" alt="banner">
                <div class="carousel-caption banner-slider-inner d-flex h-100 text-start">
                    <div class="carousel-content container align-self-center">
                      <div class="banner-info2">
                        <div class="text-l text-center">
                            <h3 class="text-uppercase">Stamp Duty Calculator</h3>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item item-bg">
                <img class="d-block w-100 h-100 ratioCar" src="{% static 'img/background-index/3.jpg' %}" alt="banner">
                <div class="carousel-caption banner-slider-inner d-flex h-100 text-start">
                  <div class="carousel-content container align-self-center">
                    <div class="banner-info2">
                      <div class="text-l text-center">
                          <h3 class="text-uppercase">Stamp Duty Calculator</h3>
                      </div>
                  </div>
                  </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev" style="top:45%">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next" style="width:15%">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
   
  </div>    
<!-- Sub Banner end -->
<div class="content-area-17 bg-light mt-3">
    <div class="container">
        <!-- Main title -->
        <div class="main-title text-center">
            <h1 style="font-weight:700">
                Stamp Duty <span style="color:#00CE8D;"> Calculator</span>
                </h1>
            {% comment %} <p style="font-weight: 700;">Our stamp duty calculator is here to give you a guide to how much you can borrow for your next investment
                or new home. Please be advised that our stamp duty calculator should only be used as a guide. Once you
                have decided on your investment and have used our mortgage calculator to get an idea of the rates and
                repayments.
                We would advise to speak with one of our advisers for a more detailed discussion..</p>   {% endcomment %}
        </div>
        <div class="row g-0 contact">
            <div class="contact-form mb-0">
                <div class="row">
        <div class="block-wrap">
          <form id="loan-form" class="mb-3">
            <div class="row">

                    <div class="col-md-6">
                        <div class="form-group">
                          <label  for="amount" class="form-label">Property Purchase Price</label>
                          <div class="input-group">
                            <div class="input-group-prepend">
                              <div class="input-group-text">£</div>
                            </div><!-- input-group-prepend -->
                            <input id="amount" type="number" class="form-control" placeholder="Property Purchase Price" value="210750">
                          </div><!-- input-group -->
                        </div><!-- form-group -->
                      </div>              

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="status" class="form-label">Type of buyer</label>
                            <select class="selectpicker search-fields" name="status" id='status'>
                                <option value="first">First Time Buyers</option>
                                <option value="second"> Seasoned Investors </option>
                                <option value="third"> First Time Investors </option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-12 mt-3">
                        <div class="send-btn text-center">
                            <input class="btn-6" type="submit" value="Calculate"></input>
                        </div>
                    </div>


            <!-- col-md-12 -->
            </div><!-- row -->
          </form>
        </div>

                </div>
            </div>
        </div>
    </div>
</div>
<br>

<div class="container contact-form bg-light" id="result_table">
    <h4 class="heading text-center mt-0">Your calculation</h4>

    <div class="floor-plans">
        <table>
            <thead>
                <tr class="table_head">
                    <th><strong>Rate</strong></th>
                    <th><strong>Band</strong></th>
                    <th><strong>Amount</strong></th>
                </tr>
            </thead>
            <tfoot>
                <tr class=" fw-bold">
                    <td colspan="1" class="total">Total</td>
                    <td class=" fw-bold" id="trate"></td>
                    <td class=" fw-bold" id="tdue"></td>
                </tr>
            </tfoot>
            <tbody>
                <tr>

                </tr>
            </tbody>
        </table>

    </div>
</div>

<!-- Contact section start -->
<div data-aos="fade-up" id="contS" class="mt-3 altContSec">
    <div class="container mx-auto py-5 contact_section">
      <div class="row d-flex justify-content-center px-0">
        <div class="col-12">
          <p
            class="text-lead text-light text-capitalize"
            style="font-weight: 700"
          >
            Want to know more?
          </p>
          <h2 class="heading pb-4 text-capitalize" style="color: #00ce8d">
            <span class="text-light">Contact us</span> today
          </h2>
          <div class="d-md-flex d-block gap-3">
            <a
              href="https://api.whatsapp.com/send?phone=+447788258827&text=Hi%2C I enquired through the LPC-Invest website and am interested in your project"
              target="_blank"
            >
              <button
                type="button"
                class="btn p-2 my-2 cont-sec"
                style="border-radius: 0"
              >
                <i class="fa fs-5 fa-whatsapp px-2"></i>Whatsapp
              </button></a
            >
            <a
              href="https://lpcinvest.pipedrive.com/scheduler/DpedXLfo/book-a-free-consultation-meeting"
              target="_blank"
            >
              <button
                type="button"
                class="btn cont-sec my-2 p-2"
                style="border-radius: 0"
              >
                <i class="fa fs-5 fa-edit px-2"></i>Appointment
              </button></a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- Contact section End -->

{%endblock body%} {% block script %}

<script>
    // jQuery is preprocessed

    $(function () {

        var priceInput = $('input[type="number"]');
        var tbody = $('table tbody');
        var trateField = $('#trate');
        var tdueField = $('#tdue');
        var submitButton = $('input[type="submit"]');

        submitButton.click(function (e) {
            e.preventDefault();
            document.getElementById("result_table").style.display = 'block';
            var price = priceInput.val() > 0 ? priceInput.val() : 0;
            if ($("#status").val() == 'second') {
                var secondHome = true
            }



            var stampduty = 0;
            var intervals = {
                0: {
                    'from': 0,
                    'to': 125000,
                    'rate': 0
                },
                1: {
                    'from': 125000,
                    'to': 250000,
                    'rate': 2
                },
                2: {
                    'from': 250000,
                    'to': 925000,
                    'rate': 5
                },
                3: {
                    'from': 925000,
                    'to': 1500000,
                    'rate': 10
                },
                4: {
                    'from': 1500000,
                    'to': parseInt(price),
                    'rate': 12
                }
            };

            for (var interval in intervals) {
                if (price > 1500000 || intervals[interval]['from'] == 0 || price > intervals[interval]['from']) {

                    if (secondHome && price >= 40000) {
                        intervals[interval]['rate'] += 3;
                    }

                    if (price < intervals[interval]['to']) {
                        intervals[interval]['to'] = price;
                    }

                    intervals[interval]['due'] = ((intervals[interval]['to'] - intervals[interval]['from']) / 100) * intervals[interval]['rate'];
                    stampduty += intervals[interval]['due'];

                } else {
                    delete intervals[interval];
                }
            }

            var stampdutyRate = (Math.round((stampduty / price) * 10000)) / 100;

            /** THE MAGIC ENDS HERE **/

            tbody.html('');

            for (var interval in intervals) {
                var insertHtml = '<tr>';
                insertHtml += '<td><strong>£' + intervals[interval]['from'] + " - £" + + intervals[interval]['to'] + '</strong></td>';
                insertHtml += '<td><strong>' + intervals[interval]['rate'] + '%</strong></td>';
                insertHtml += '<td><strong>£ ' + intervals[interval]['due'] + '</strong></td>';
                insertHtml += '</strong></tr>';
                tbody.append(insertHtml);
            }
            tdueField.html("£ " + stampduty);
            trateField.html(stampdutyRate + '%');

        });

    });
</script>
{% endblock script %}